<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.name}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="notificationgroup-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Notification Group Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Notification Group ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>ID</label>
                             <div name="id" >{{detail.id}}</div>
                             <label>Group Name</label>
                             <div name="name" >{{detail.name}}</div>
                             <label>Description</label>
                             <div name="description" >{{detail.description}}</div>
                             <label>Topic</label>
                             <div name="topic" >{{detail.topic}}</div>
                             <label>Status</label>
                             <div name="status" >{{detail.status}}</div>
                             <label>Token List</label>
                             <div name="token_list" >{{detail.token_list}}</div>
                             
                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Notification Group &amp; Status Notification Group</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Created Date</label>
                            <div name="created_date" >{{detail.created_date}}</div>
                            <label>Created By</label>
                            <div name="created_by" >{{detail.created_by}}</div>
                            <label>Created At</label>
                            <div name="created_at" >{{detail.created_at}}</div>
                            <label>Updated Date</label>
                            <div name="updated_date" >{{detail.updated_date}}</div>
                            <label>Updated By</label>
                            <div name="updated_by" >{{detail.updated_by}}</div>
                            <label>Updated At</label>
                            <div name="updated_at" >{{detail.updated_at}}</div>
                            
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div> -->
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-notificationgroup-edit [back]="[this, 'editThis']" [detail]="detail"></app-notificationgroup-edit>
</div>