.card-detail{
    >.card-header{
        position: relative;
        min-height: 48px;
        margin-top: 40px;
        .back_button{
            position: absolute;
            margin-top: -4px;
            margin-left: -5px;
            background-color: transparent;
            color: #555;
            height: 30px;
            
            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            i{
                font-weight: bold;
            }
        }
        .save_button{
            position: absolute;
            top: 7px;
            background-color: #3498db;
            color: #fff;
            height: 30px;
            
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            i{
                font-weight: bold;
            }
            right: 16px;
        }
        .save_button.true{
            background-color: #e67e22;
        }
    }
    table{
        width: 100%;
        // border-collapse: collapse;
        // border: 1px solid #333;
        font-size: 14px;
        box-shadow: 5px 5px 10px #999;
        border-radius: 5px;
        text-transform: capitalize;
        overflow:hidden;
        td{
        //  border-style:solid;
        //  border-color: #333;
         border-width: 0px 1px   0px 0px;
         padding: 15px;
         vertical-align: top;
         em{
             display: block;
             margin-left: 5px;
             font-size: 10px;
             font-style: italic;

         }

        }
        td.qty{
            text-align: center;
            height: 100%
        }
        td.price{
            text-align: center;
        }
        
        td.priceBil{
            color:red;
            text-align: center;
        }

        td.fee{
            text-align:center;
        }

        td.priceTot{
            // border-top: 1.5px solid #eaeaea;
            text-transform: uppercase;
            font-weight: bolder;
            text-align:left;
        }

        td.priceTotal{
            // border-top: 1.5px solid #eaeaea;
            text-align:center;
            font-weight: bolder;
        }

        th{
            background-color: #F2F2F2;
            color:#545454;
            // border: 1px solid #333;
            padding: 15px;
            // text-align: center;
            font-weight: bold;
            text-transform: capitalize;
            // border-radius: 10px;
        }

        // th.product{
        //     text-align: left;
        //     // display: flex
        // }

        // th.qty{
        //     text-align: center;
        // }

        // th.ut{
        //     text-align: center;
        // }

        // th.price{
        //     text-align: center;
        // }
    }

    table.services{
        // border-right: 3px solid black;
        border-collapse: collapse;
        text-align: center;

    }
    th.product {
        text-align: left;
        // display: flex
    }

    th.qty {
        text-align: center;
    }

    th.ut {
        text-align: center;
    }

    th.price {
        text-align: center;
    }

    .card-content{
        padding: 15px;
       .status-button-container {
           display: flex;
           justify-content: space-between;
           .option {
               background-color: white;
               width: 45%;
               color: grey;
               border: grey 1px solid;
           }
           .paid {
            background-color: blue;
            border-color: blue;
            color: white;
           }
           .cancel {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
           }
       }
        >.col-md-12{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
    h1{
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }
    .orderhistoryallhistory-detail{
       
        label{
            margin-top: 10px;
        }
        .head-one{
            line-height: 33px;
            border-bottom: 1px solid #333;
            label.order-id{
                font-size: 18px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            label.buyer-name{
                font-size: 24px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                color:#0EA8DB;
            }
           
        }
        .buyer-detail{
            border-top: 1.5px solid #eaeaea;
            label#buyer-detail{
                font-size: 24px;
                font-weight: bolder;
                color:#0EA8DB;
                .buyer-name{
                    // font-weight: bold;
                    font-size: 12px;
                }
            }
        }
       
        .product-group{
            padding-bottom: 25px;
            // border-radius: 10px;
        }
        label+div{
            // background: #f0f0f0;
            font-weight:normal;
            // padding: 10px;
            // border: 1px solid #ccc;
            // margin-bottom: 15px;
            // min-height: 27px;
            // font-size: 12px;
            // color: #666;
        }
        // .image{
        //     overflow: hidden;
        //     >div{
        //         width: 33.3333%;
        //         padding: 5px;
        //         float: left;
        //     }
        //     .card-header{
        //         background-color: #f0f0f0;
        //     }
        //     h3{
        //         font-size: 12px;
        //         margin-bottom: 0px;
        //         color: #555;
        //     }
        //     .card-content{
        //         overflow: hidden;
        //         width: 100%;
        //         height: auto;
        //         img{
        //             max-width: 100%;
        //             width: 100%;
    
        //         }
        //     }
        // }

        .card-header{ 
            background-color: white;
            border-left: 3px solid blue;
            h2{
                color: #555;
                font-size: 20px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;
        
            }
        }
        .awb-list{
            float: left;
            width: 100%;
            display:flex;
            flex-direction: row;
            overflow:hidden;
            align-items:end;
            .awb{
                font-size: 14px;
                margin-bottom:10px;
                // margin-top: 10px;

            }
            .input-form {
                width: 100%;
            }
        }
        .awb-list > .process{
            margin-left:10px;
            padding: 0px;
            height: 32px;
            width:80px;
            border-radius: 5px;
        }
    }
}

.shipping-date{
    color: #999;
    font-size: 10px;
}
.shipping-status{
    float: left;
    width: 100%;
    border-left: 1.5px solid #eaeaea;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
    .radio-button{
        display: flex;
        width: 16px;
        height: 16px;
        border: 1.5px solid #eaeaea;
        background: white;
        border-radius: 16px;
        float: left;
        transform: translate(-9px, -7px);
        position: absolute;
        cursor: pointer;
        justify-content: center;
        align-items: center;

    }
    .radio-button+label{
        display: block;
        float: left;
        // width: calc(70% - 27px);
        width:100%;
        padding: 0px 5px 10px 10px;
        transform: translate(0px, -22px);
        cursor: pointer;
       
    }

    .radio-button.checked-true{
        // border-color: #2ecc71;
        border:none;
        background-color:#2ecc71;
    }

    .radio-button.checked-true:before{
        content: "";
        background-color: #2ecc71;
        display: block;
        border-radius: 9px;
        width: 8px  !important;
        height: 8px !important;
    }
    .radio-button.hovered-true:before{
        background-color: #2ecc71;
        width: 6px;
        height: 6px;
        content: "";
        border-radius: 8px;
        background-color: #2ecc71;
        display: block;
    }
}

.shipping-statuss{
    float: left;
    width: 100%;
    border-left: 1.5px solid #eaeaea;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
    .radio-button{
        display: flex;
        width: 16px;
        height: 16px;
        border: 1.5px solid #eaeaea;
        background: white;
        border-radius: 16px;
        float: left;
        transform: translate(-9px, -7px);
        position: absolute;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        pointer-events: none;

    }
    .radio-button+label{
        display: block;
        float: left;
        // width: calc(70% - 27px);
        width:100%;
        padding: 0px 5px 10px 10px;
        transform: translate(0px, -22px);
        pointer-events: none;
        // cursor: pointer;
       
    }

    .radio-button.checked-true{
        // border-color: #2ecc71;
        border:none;
        background-color:#2ecc71;
        pointer-events: none;
    }

    .radio-button.checked-true:before{
        content: "";
        // background-color: #2ecc71;
        display: block;
        border-radius: 9px;
        width: 8px  !important;
        height: 8px !important;
    }
    .radio-button.hovered-true:before{
        // background-color: #2ecc71;
        width: 6px;
        height: 6px;
        content: "";
        border-radius: 8px;
        // background-color: #2ecc71;
        display: block;
    }
}

.shipping-status:last-child{
    border-left-color: transparent;
}

.printLabel{
    text-align: center;
}

 #line {
     border-right: 1px solid black;
     height: 20px;
 }

//  .btn-print{
//      background-color: #2aad2c;
//      border-radius: 10px;
//      color:white;
//      width: 50%;
//      text-align: center;
//  }

.spacing{
    font-size: 14px;
    // text-transform: capitalize;
}

textarea{
    width:100%;
    height: 100px;
    border-radius: 5px;
    // border-top: 1px solid;
}

#cancel-note{
    margin-top: 20px;
}                              

.payer{
    text-align: left;
    font-weight: bold;
    padding:initial;
    
     table{
         td{
             color:#0EA8DB;
         }
     }
}

#header{
    margin-top: 0px;
}

.save-active {
    background-color: blue;
}
.save{
    
    border: none;
    color: white;
    padding: 8px 6px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 14px;
    margin: -34px -7px;
    // cursor: pointer;
    float: right;
    border-radius: 5px;
}
.change{
    background-color: blue !important;
}

.edit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: -31px 3px;
    // cursor: pointer;
    float: right;
    border-radius: 5px;
}

.done{
    background-color: blue;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: -31px 3px;
    // cursor: pointer;
    float: right;
    border-radius: 5px;
}

.modal.false {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
.full{
    width: 100% !important;
}
.half {
    width: 50%;
}
.half-10 {
    width: 47%;
    height : 45px;
}

.cancel-hold {
    background-color: white;
    border-color: #8854D0;
    color: #8854D0;
}
.confirm-hold{
    background-color: #8854D0;
    border-color: #8854D0;
    color: white
}

.modal.true {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 100px;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}
.modal-body2 {
    padding: 2px 16px;
    font-size: 12px;
}
.modal-buttons {
    display: flex;
    padding: 2px 16px;
    justify-content: space-between;
}
.container-nominal {
    display: flex;
    flex-direction: row;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
}
.red{
    color:red;
}
/* Modal Content */
.modal-content {
    margin-left: 256px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}
.modal-content2 {
    
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35vw;
   
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}


/* The Close Button */
.close {
    color: #000;;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

textarea{
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

cancel-order{
    margin-left: 5px;
}

.logo{
    position: relative;
}

.bg{
    position: absolute;
}

@media only screen and (max-width: 1150px){
     .awb-list {
         float: left;
         width: 100%;
         display: flex;
         flex-direction: column;

         .awb {
             font-size: 11px;
            //  margin-top: 10px;

         }
     }

     .awb-list>.process {
         margin-left: 10px;
        //  padding: 0px;
         height: 32px;
         width: 90px;
     }
}


.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
// .process{
//    display:flex;
//    flex-direction: row;
// }



// table#custom_table{
//   background-color:white;



//   th{
//       background-color:white;
//   }
// }

.img-upload {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 5px;
}

button.btn_upload, button.add-more-image, button.btn_delete {
    background-color: #3498db;
    color: #fff;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border:0;
    cursor:pointer;
    white-space: nowrap;
    font-size: 12px;
}

button.btn_delete{
    background-color: salmon;
}

.input-delivery-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;

    input {
        font-size: 14px;
    }
}

.complete-order-container {
    margin: 0 16px 16px;

    .completed-order-head {
        font-size: 12px;
        color: red;
    }

    .complete-comfirmation {
        font-size: 13px;
        margin-top: 5px;
    }

    label {
        font-size: 12px;
        margin-top: 0 !important;
        margin-bottom: 0.2rem;
    }
    .button-complete {
        .half-button {
            width:48%;
        }

        .full-button {
            margin-top: 16px;
            width:100%;
        }
    }
}

ngb-timepicker {
    ::ng-deep {
        .ngb-tp-hour, .ngb-tp-meridian, .ngb-tp-minute, .ngb-tp-second {
            position: relative !important;
            margin: 10px 0;

            input {
                font-size: 14px;
            }

            .btn {
                position: absolute;
                right: 5px;
                padding: 0;
                line-height: 1;
                font-size: 10px;
                color: grey;
            }

            .btn:first-child {
                top: 2px;
            } 

            .btn:nth-of-type(2) {
                bottom: 2px;
            }
        }
    }
}

.delivered-form {
    overflow: visible !important;
}

.redelivery-label {
    position: relative !important;
    z-index: 2 !important;
}

.return-form {
    overflow: visible !important;
    flex-direction: column !important;
    align-items: start !important;

    .information-text {
        position: relative;
        color: red;
        font-size: 11px;
        bottom: 3px;
        text-transform: initial;
    }
}

.order-complete-text {
    font-size: 14px;
    color: #0EA8DB;
}

.cancel-status{
    margin-left: 20px;
}


.outer {
    min-width: 20vw;
    flex: 1;
  }
  
  .progress {
    $gap: 20px;
    $line-height: 20px;
    $bullet-radius: 5px;
    $line-thick: 2px;
    $strip-color: green;
    $next-color: #a8a5a5;
    $current-color: #333;
    $prev-color: #333;
    
  
    display: inline-flex;
    height: 100%;
    padding: 30px 20px;
  
    > div {
      display: flex;
      flex-direction: column;
      color: $prev-color;
  
      &.left {
        flex:1;
        padding-right: $gap;
        text-align: right;
        
        // Line
        div {
          &:last-of-type:after {
            display: none;
          }
          
          &:after {
            content: "";
            background: fade_out($strip-color, .9); //rgba(0, 0, 0, 0.6);
            border-radius: 2px;
            position: absolute;
            right: -$gap;
            top: $line-height/2;
            height: 101%;
            width: 1px;
            transform: translateX(50%);
          }
        }

        .created-date {
            font-size: 10px;
            color: #767474;
        }
      }
  
      &.right {
        flex:2;
        padding-left: $gap;

        div {
            // Line
            &:after {
                content: "";
                background: $strip-color; //rgba(0, 0, 0, 0.6);
                border-radius: 2px;
                position: absolute;
                left: -$gap;
                top: $line-height/2;
                height: 101%;
                width: $line-thick;
                transform: translateX(-50%);
                transition: height 0.2s ease;
            }
        }
  
        .rowstate-name {        
          &.prev {          
              &:after {
                transition: none;
              }
          }
  
          // Dot
          &:before {
            content: "";
            background: $strip-color;
            padding: $bullet-radius;
            border-radius: 50%;
            position: absolute;
            left: -$gap;
            top: $line-height/2;
            transform: translateX(-50%) translateY(-50%);
            transition: padding 0.2s ease;
          }
        }

        .description{
            line-height: 1.5;
            font-size: 10px;
            position: relative;
            bottom: 20px;
            color: #767474;
        }

        .current {
            &:after {
                height: 0%;
                transition: height .2s ease-out;
            }
            .rowstate-name {
                color: $current-color;
                font-weight: bold;

                &:before {
                    background: $strip-color;
                    padding: $bullet-radius * 2;
                    transition: all 0.2s .15s cubic-bezier(0.175, 0.885, 0.32, 2);
                }

                &:after {
                    height: 0%;
                    transition: height .2s ease-out;
                }

                ~ div {
                    // color: $next-color;
                    
                    &:before {
                        background: $next-color;
                        padding: $bullet-radius * 0.5;
                    }

                    &:after {
                        height: 0%;
                        transition: none;
                    }
                }
            }
        }
      }
  
      div {
        flex: 1;
        //outline: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        line-height: $line-height;
        cursor: default;
        min-height: 42px;
        
        // &:last-of-type {
        //   flex: 0;
        // }
      }
    }
  }

  .button-tracking {
    color: #007bff;
    padding-top: 6px;;
    clear: both;
  }

  .shipping-id {
    padding-bottom: 0 !important;
    color: #0EA8DB;
  }

  .shipping-status-row {
    color: #016918;
    border-bottom: 1.5px solid #eaeaea;
    border-width: unset !important;
  }

  .shipping-detail {
    text-align: right;
    cursor: pointer;
  }

  .product-list {
      
  }

  .default-loading {
      text-align: center;
      i {
        font-size: 50px;
        color: #0780f8;
        margin: 40px 0;
      }
  }