<div [@routerTransition]>
  <app-page-header [heading]="'Package Bundle'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Packagebundle&&PackagebundleDetail==false">
        <app-form-builder-table
            [table_data]="Packagebundle"
        [searchCallback]="[service, 'searchPackagebundleLint',this]"
        [tableFormat]="tableFormat"
      >
        </app-form-builder-table>
  </div>
      <div *ngIf="PackagebundleDetail">
            <app-packagebundle-detail [back]="[this,backToHere]" [detail]="PackagebundleDetail"></app-packagebundle-detail>
      </div>
</div>
