._container {
	padding: 20px;
}

::ng-deep td.withdrawal_status {
	font-size: 20px;
}

.menu-bar {
	width: 100%;
	flex-direction: row;
}

.withdraw {
	// flex-direction: row;
	// float: right;
	position: relative;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 14px;
	width: 20%;
}

table {
	width: 100%;
	// border-collapse: collapse;
	// border: 1px solid #333;
	font-size: 14px;
	box-shadow: 5px 5px 10px #999;
	border-radius: 5px;
	text-transform: capitalize;
	overflow: hidden;

	td {
		//  border-style:solid;
		//  border-color: #333;
		border-width: 0px 1px 0px 0px;
		padding: 15px;
		vertical-align: top;

		em {
			display: block;
			margin-left: 5px;
			font-size: 10px;
			font-style: italic;
		}
	}

	tr:hover {
		background-color: lightblue;
	}

	.pending {
		border-radius: 30px;
		background-color: #ffe6d5;
		color: #ee680c;
		width: 80px;
		height: 35px;
		font-size: 12px;
		border: none;
	}

	.success {
		background-color: #daf9f1;
		color: #2ea56e;
		border-radius: 30px;
		width: 80px;
		height: 35px;
		font-size: 12px;
		border: none;
	}

	.hold {
		background-color: #f2e8ff;
		color: #8b5acf;
		border-radius: 30px;
		width: 80px;
		height: 35px;
		font-size: 12px;
		border: none;
	}

	.refunded {
		border-radius: 30px;
		background-color: #e4ecff;
		color: #4271df;
		width: 80px;
		height: 35px;
		font-size: 12px;
		border: none;
	}

	.rejected {
		border-radius: 30px;
		background-color: #fcecf0;
		color: #ec3b60;
		width: 80px;
		height: 35px;
		font-size: 12px;
		border: none;
	}

	td button {
		pointer-events: none;
		font-weight: bold;
	}

	th {
		background-color: #f2f2f2;
		color: #8d8d8d;
		// border: 1px solid #333;
		padding: 15px;
		// text-align: center;
		font-weight: bold;
		text-transform: capitalize;
		// border-radius: 10px;
	}

	// .pagination{
	//     margin-top:10px;
	//     float:right;
	// }
}

.logo {
	width: 10%;
	// position: relative;
	// top: 13px;
}

.div-transaction {
	display: flex;
	// flex-wrap: wrap;
	flex-direction: row;
	font-size: 12px;
	width: 100%;
	padding: 10px;
	label {
		margin-bottom: 0px;
	}
	div.searchbar {
		flex-wrap: wrap;
		display: inherit;
		width: calc(100% - 140px);
		padding-left: 10px;
		justify-content: flex-end;
		div {
			display: flex;
			align-items: center;
			label {
				margin-right: 5px;
			}
		}
	}
}

#search {
	margin-right: 20px;
}

#search-field {
	margin-right: 10px;
}

#search-text {
	padding-right: 23px;
}

#search-icon {
	margin-left: -20px;
	margin-right: 20px;
}

#card-transaction {
	width: 100%;
	align-items: baseline;
}

#transaction {
	font-size: 15px;
}

.download {
	margin-top: 11px;
}

.div-footer {
	div {
		width: fit-content;
		height: auto;
		padding: 0px;
		margin-bottom: 5px;
		// border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 10px;

		button {
			background: white;
			// border-radius:10px;
			color: black;
		}

		button:hover {
			background-color: #4271df;
			color: white;
			border-radius: 10px;
		}
	}
}




.modal.false {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
  }
  
  .modal.true {
	display: block;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0px;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: white;
	opacity: 1;
	/* Fallback color */
	// background-color: white;
	/* Black w/ opacity */
  }
  
  .modal-content {
	margin-left: 256px;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	margin-top:200px;
	padding: 0;
	// border: 1px solid #888;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
	text-align: center;
  }
  
  /* The Close Button */
  .close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  


// .currency {
// 	font-size: 22px;
// 	position: relative;
// 	left: 70px;
// 	bottom: 25px;
// }

// #search-text{

// }
