<div [@routerTransition]>
       
  <app-page-header [heading]="'Generate Package Bundle'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitPackagebundle(form.value)">
      <div class="col-md-6">

          <label>Title</label>
          <form-input name="title" [placeholder]="'Title'" [(ngModel)]="title"  [type]="'text'" required></form-input>

          <label>Description</label>
          <form-input name="description" [placeholder]="'Description'" [(ngModel)]="description" [type]="'textarea'" required></form-input>

          <label>Price</label>
          <form-input name="fixed_value" [placeholder]="'Price'" [(ngModel)]="fixed_value"  [type]="'number'" required></form-input>

          <label>Discount (decimal)</label>
          <form-input name="discount" [placeholder]="'Discount'" [(ngModel)]="discount"  [type]="'number'" required></form-input>

          <label>Quantity</label>
          <form-input name="qty" [placeholder]="'Quantity'" [type]="'number'" [(ngModel)] ="qty" required></form-input>
          
          <label>Choose Promo</label>
          <br>
<!-- 
          <ng-multiselect-dropdown
          name = "product"
          [placeholder]="'Choose Promo'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          [ngModelOptions]="{standalone: true}">
        </ng-multiselect-dropdown> -->

          <br>
          <button class="btn rounded-btn" type="submit" [disabled]="form.pristine"
              [routerLinkActive]="['router-link-active']">Submit</button>
          <br>
          <button class="btn rounded-btn" (click)="backTo()">Back</button>
          <!-- routerLink="/evoucheradmin" -->
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      </form>

 </div>
 
</div>

 