
<div [@routerTransition]>
  <app-page-header [heading]="'Report'" [icon]="'fa-table'"></app-page-header>
      <div *ngIf="prodOnUpload==false">
            <h1>File Upload</h1>
                  <div class="col-md-3 col-sm-3">
                        <div class="pb-framer">
                                    <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
                        
                                    </div>
                                    <span *ngIf="progressBar<58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                                    <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>
                              
                              </div>
                  
                  </div>
                  <div class="col-md-3 col-sm-3">
                        <div *ngIf="errorFile"><mark>Error: {{errorFile}}</mark></div>                       
                  </div>
                  <!---<img [src]="url" height="200"> <br/>-->
                  <input type="file" (change)="onFileSelected($event)" style="color: white" />
                  <button class="btn rounded-btn" (click)="onUpload()">Upload</button>
                  <button class="btn rounded-btn-danger" (click)="cancelThis()" >Cancel</button>
                  <br><br>
      </div>
      <div *ngIf="failed&&prodOnUpload==true">
                  <label for=fail>Failed to Process : {{failed}}</label>
      </div>

            <!-- <div ng-app="">
                  <button (click)="onSubmitFile()">OK</button> 
                  <button (click)="onUpdateData()">Update Report</button> 
            </div>    -->


  <div *ngIf="Report&&reportDetail==false&&prodOnUpload==true">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchReportLint',this]"
        [table_data]="Report"
        [row_id]      = "row_id"
        [tableFormat]="tableFormat"
      >
            
        </app-form-builder-table>
  </div>
      <div *ngIf="reportDetail">
            <!-- <app-report-detail [back]="[this,backToHere]" [detail]="reportDetail"></app-report-detail> -->
            <app-report-detail [detail]="reportDetail"></app-report-detail>

      </div>


      <div *ngIf="Reportexcel&&reportExcelDetail==false&&prodOnUpload==false">
                  <app-form-builder-table
                  [table_data]  = "Reportexcel" 
                  [searchCallback]= "[service_report, 'searchReportExcelLint',this]"
                  [row_id]      = "row_id"
                  [tableFormat]="tableFormatExcel"
                  >
                      
                  </app-form-builder-table>
            </div>
            <div *ngIf="reportExcelDetail">
                  <!-- <app-report-excel-detail [back]="[this,backToHere]" [detail]="reportExcelDetail"></app-report-excel-detail> -->
                  <app-report-excel-detail [detail]="reportExcelDetail"></app-report-excel-detail>

            </div>
            
            <div *ngIf="prodOnUpload==true">
                  <div class="col-md-12 bg-submit">
                        <button class="btn discard-button float-right btn-danger" (click)="discardThis()">Discard</button>
                        <button class="btn process-button float-right btn-danger" (click)="processThis()">Process</button>
                  </div>
            </div>




  </div>

