.pb-framer{
  text-align: center;
  position: relative;
  height: 25px;
  color: #e67e22;
  .progressbar{
      overflow: hidden;
      background: #3498db;
      position: absolute;
      height: 25px;
      z-index: -1;
  }
  .terminated.progressbar{
      background-color: red;
  }
  .clr-white{
      color: white;
  }
}
// html, body {
//     background-color: #ecf0f1;
//     margin: 20px auto;
//     display: block;
//     max-width: 600px;
//     height: 100%;
//     text-align: center;
//   }
  
//   body {
//     padding: 20px;
//     position: relative;
//   }
//   h2, a, p, *:before,h1 {
//     font-family: "Helvetica Neue", sans-serif;
//     font-weight: 300;
//   }
//   h1 {
//     color: #3498db;
//   }
  
//   h2 {
//     color: #2980b9;
//     margin-top: 0;
//     font-size: 20px;
//     background-color: white;
//     height: 24px;
//     text-align: center;
//     padding: 16px;
//     z-index: 15;
//     border-radius: 4px;
  
//     transition: all 2s ease-out;
//   }
  
//   p {
//    display: block; 
//     width: 100%;
//     color: #2c3e50;
//     clear: both;
//   }
//   .description {
//     margin-bottom: 70px;
//   }
 

/** ini bagian untuk buttonnya bagus **/
  // button {
  //   border: 0;
  //   background-color: #3498db;
  //   color: white;
  //   border-radius: 4px;
  //   padding: 5px 10px;
  //   transition: background-color 0.2s ease-out;
  //   cursor: pointer;
  // }
  
  // button:hover {
  //   background-color: #6b20b3;
  // }
  // button:active, button:hover {
  //   outline: none;
  // }

  h1{
    color: white;
  }
  
//   a {
//     color: #2c3e50;
//     transition: color 0.2s ease-out;
//     /*padding: 5px 10px;*/
//     margin-right: 16px;
//   }
  
//   a:hover {
//     color: #2ecc71;
//   }
  
//   .wrapper {
//     border: 1px dashed #95a5a6;
//     height: 56px;
//     margin-top: 16px;
//     border-radius: 4px;
//     position: relative;
//     font-size: 12px;
//   }
  
//   .wrapper p {
//     line-height: 31px;
//   }\

mark{
  background-color: #dc3545;
  color: white;
}
  
//   }

.rounded-btn {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
    background: #56a4ff;
}
.rounded-btn:hover {
    background: darken(#56A4FF, 15%);
    // border: 2px solid blue;
    outline: none;
}

.rounded-btn-danger {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
    background: #dc3545;
}
.rounded-btn-danger:hover {
    background: darken(#dc3545, 15%);
    // border: 2px solid blue;
    outline: none;
}
