<div [@routerTransition]>
      <app-page-header [heading]="'Web Banner Screen'" [icon]="'fa-table'"></app-page-header>
      <!-- <div *ngIf="Banner&&bannerDetail==false">
            <app-form-builder-table [searchCallback]="[service, 'searchBannerLint',this]" [table_data]="Banner"
                  [tableFormat]="tableFormat">

            </app-form-builder-table>
      </div>
      <div *ngIf="bannerDetail">
            <app-banner-detail [back]="[this,backToHere]" [detail]="bannerDetail"></app-banner-detail>
      </div> -->
      <div class="sliding-banner">
            <div class="header-sub-menu">
                  <h2 class="title header">Sliding Banner</h2>
                  <button class="btn rounded-btn" (click)="onAddNew()">Add New +</button>
            </div>
            <div class="tab-bar">
                  <mat-tab-group (selectedTabChange)="test($event)">
                        <mat-tab *ngFor="let tab of tabList; let index = index" [label]="location[tab]">
                              <ngb-carousel style="padding:20px;" [showNavigationArrows]="true"
                                    [showNavigationIndicators]="true" interval="10000" [keyboard]="true"
                                    [pauseOnHover]="true" [wrap]="true">
                                    <ng-template *ngFor="let slide of filterBannerOfLoc(tab)" ngbSlide>
                                          <div class="picsum-img-wrapper">
                                                <img [src]="slide.imageUrl" alt="Random first slide"
                                                      style="border-radius: 20px;">
                                          </div>
                                    </ng-template>
                              </ngb-carousel>
                              <!-- <swiper ([index])="0" class="swiper-container" fxFlex="auto" [config]="config"
                                    [disabled]="disabled" (indexChange)="onIndexChange($event)"
                                    (swiperTransitionStart)="onSwiperEvent('transitionStart')"
                                    (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                                    <div *ngFor="let slide of filterBannerOfLoc(tab)" class="swiper-slide">
                                          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                                <div class="img"
                                                      [ngStyle]="{'background-image': 'url('+slide.imageUrl+')'}"></div>
                                          </div>
                                    </div>
                              </swiper> -->
                        </mat-tab>
                  </mat-tab-group>
            </div>
            <div class="sliding-banner-list">
                  <h2 class="title sliding-list">Sliding Banner List</h2>
                  <div class="table-tab">
                        <div class="table-container" style="overflow-x:auto">
                              <table class="tablebanner" mat-table>
                                    <thead>
                                          <tr>
                                                <th>No.</th>
                                                <th>Banner Picture</th>
                                                <th>Banner Title</th>
                                                <th>Banner Descriptions</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr *ngFor="let bd of filterBannerOfLoc(selected); let i = index">
                                                <td>{{i+1}}</td>
                                                <td class="td-image">
                                                      <div class="table-img">
                                                            <img [src]="bd.imageUrl" alt="Random first slide">
                                                      </div>
                                                </td>
                                                <td class="">
                                                      <span *ngIf="bd.hashUrl">{{bd.hashUrl}}</span>
                                                </td>
                                                <td class="">
                                                      <span
                                                            *ngIf="bd.target && bd.target.description">{{stripTags(bd.target.description)}}</span>
                                                </td>
                                                <td class="td-active">
                                                      <button *ngIf="bd.active" disable="true" class="stat  btn-active">Active</button>
                                                      <button *ngIf="!bd.active" disable="true" class="stat  btn-inactive">inactive</button>
                                                </td>

                                                <td class="td-action">
                                                      <div ngbDropdown class="d-inline-block">
                                                            <button class="btn rounded-btn" id="dropdownBasic1"
                                                                  ngbDropdownToggle>Actions</button>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                                  <button ngbDropdownItem
                                                                        (click)="onEdit(bd)">Edit</button>
                                                                  <button ngbDropdownItem
                                                                        (click)="onDelete(bd)">Delete</button>

                                                            </div>
                                                      </div>

                                                </td>
                                          </tr>
                                    </tbody>
                              </table>
                              <!-- <div *ngIf="swaper && Products" class="grid-view-pagination">
                                    <ngb-pagination [collectionSize]="Products.length" [(page)]="page"
                                          [pageSize]="pageSize" [maxSize]="4" [rotate]="true" [ellipses]="false"
                                          [boundaryLinks]="true">
                                          <ng-template ngbPaginationFirst>&lt;&lt;</ng-template>
                                          <ng-template ngbPaginationLast>&gt;&gt;</ng-template>
                                          <ng-template ngbPaginationPrevious>&lt;</ng-template>
                                          <ng-template ngbPaginationNext>&gt;</ng-template>
                                    </ngb-pagination>
                              </div> -->

                        </div>
                  </div>
            </div>
      </div>
</div>


<div id="myModal" class="modal {{popUpForm}}">
      <div *ngIf="add" class="add-container">
            <app-banner-add [ok]="onDoneNew" ></app-banner-add>
      </div>
      <div *ngIf="edit" class="add-container">
            <app-banner-edit [detail]="data" [ok]="onDoneNew"></app-banner-edit>
      </div>
      <div *ngIf="delete" class="delete-container">

            <div class="modal-top">
                  <span class="close" (click)="onDoneNew()">&times;</span>
            </div>
            <div class="dialog">
                  Do You Want To Delete This Banner ?

                  <div class="button-container">
                        <button class="common-button blue-fill" (click)="onDoneNew()">Cancel</button>
                        <button class="common-button" (click)="onConfirmDelete()">Yes, Delete</button>
                  </div>
            </div>

      </div>
</div>