<div [@routerTransition]>

  <app-page-header [heading]="'Version'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="versioning && versioningDetail==false">
    <app-form-builder-table [table_data]="versioning" [searchCallback]="[service, 'searchversioningLint',this]"
      [tableFormat]="tableFormat">
    </app-form-builder-table>
  </div>

  <div *ngIf="versioningDetail">
      <app-version-detail [back]="[this, backToHere]" [detail]="versioningDetail"></app-version-detail>
</div>

</div>
