<div class="card card-detail">
    <ng-container *ngIf="allBast.length > 0">
        <ng-container *ngFor="let item of allBast; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'bast', i)" 
                accept="image/x-png,image/gif,image/jpeg,application/pdf" style="display:none;" [id]="'bast'+i"/>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="allSuratKuasa.length > 0">
        <ng-container *ngFor="let item of allSuratKuasa; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'suratKuasa', i)" 
                accept="image/x-png,image/gif,image/jpeg,application/pdf" style="display:none;" [id]="'suratKuasa'+i"/>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="allSuratPernyataan.length > 0">
        <ng-container *ngFor="let item of allSuratPernyataan; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'suratPernyataan', i)" 
                accept="image/x-png,image/gif,image/jpeg,application/pdf" style="display:none;" [id]="'suratPernyataan'+i"/>
        </ng-container>
    </ng-container>
    
    
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <!-- <div class="col-md-4 col-sm-12">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Dokumen Tambahan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                
                                <label class="label-bold">Foto BAST</label>
                                <ng-container *ngIf="updateSingle && updateSingle.bast && updateSingle.bast.length > 0">
                                        <div class="member-detail-image-container" *ngFor="let itemImage of updateSingle.bast; let i = index">
                                            <div *ngIf="validURL(itemImage.pic_file_name) && !loadingBAST[i]" class="img-upload">
                                                <img src={{itemImage.pic_file_name}} class="member-detail-image" />
                                            </div>
        
                                            <div class="form-group uploaded" *ngIf="loadingBAST[i]">
                                                <div class="loading">
                                                  <div class="sk-fading-circle">
                                                    <div class="sk-circle1 sk-circle"></div>
                                                    <div class="sk-circle2 sk-circle"></div>
                                                    <div class="sk-circle3 sk-circle"></div>
                                                    <div class="sk-circle4 sk-circle"></div>
                                                    <div class="sk-circle5 sk-circle"></div>
                                                    <div class="sk-circle6 sk-circle"></div>
                                                    <div class="sk-circle7 sk-circle"></div>
                                                    <div class="sk-circle8 sk-circle"></div>
                                                    <div class="sk-circle9 sk-circle"></div>
                                                    <div class="sk-circle10 sk-circle"></div>
                                                    <div class="sk-circle11 sk-circle"></div>
                                                    <div class="sk-circle12 sk-circle"></div>
                                                  </div>
                                                </div>
                                            </div>
        
                                            <div class="img-upload">
                                                <button class="btn_upload" (click)="openUpload('bast', i)">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span *ngIf="validURL(itemImage.pic_file_name); else upload_image">Ubah</span>
                                                </button>
                                                <button  *ngIf="validURL(itemImage.pic_file_name)" class="btn_delete" (click)="deleteImage('bast', i, itemImage.url)">
                                                    <i class="fa fa-fw fa-trash-alt"></i>
                                                    <span>Hapus</span>
                                                </button>
                                            </div>
                                            <div *ngIf="validURL(itemImage.pic_file_name)" style="text-align: center;">
                                                <span>
                                                    <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                </span>
                                            </div>

                                        </div>
                                </ng-container>

                                <div class="add-more-container">
                                    <button (click)="addMoreUpload('bast')" class="add-more-image"><i class="fa fa-fw fa-plus-square"></i> Tambah foto BAST</button>
                                </div>
                                
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-md-4 col-sm-12">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Dokumen Tambahan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12"> 

                                <label  class="label-bold">Foto Surat Kuasa</label>
                                <ng-container *ngIf="updateSingle && updateSingle.surat_kuasa && updateSingle.surat_kuasa.length > 0">
                                    <div class="member-detail-image-container"  *ngFor="let itemImage of updateSingle.surat_kuasa; let i = index">
                                        <div *ngIf="validURL(itemImage.pic_file_name) && !loadingSuratKuasa[i]" class="img-upload">
                                            <img src={{itemImage.pic_file_name}} class="member-detail-image" />
                                        </div>
    
                                        <div class="form-group uploaded" *ngIf="loadingSuratKuasa[i]">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                          </div>
    
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="openUpload('suratKuasa', i)">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(itemImage.pic_file_name); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(itemImage.pic_file_name)" class="btn_delete" (click)="deleteImage('suratKuasa', i, itemImage.url)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>
                                        </div>

                                        <div *ngIf="validURL(itemImage.pic_file_name)" style="text-align: center;">
                                            <span>
                                                <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                            </span>
                                        </div>

                                    </div>
                                </ng-container>

                                <div class="add-more-container">
                                    <button (click)="addMoreUpload('suratKuasa')" class="add-more-image"><i class="fa fa-fw fa-plus-square"></i> Tambah foto Surat Kuasa</button>
                                </div>

                                <hr/>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-4 col-sm-12">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Dokumen Tambahan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12"> 

                                <label  class="label-bold">Foto Surat Pernyataan</label>
                                <ng-container *ngIf="updateSingle && updateSingle.surat_pernyataan && updateSingle.surat_pernyataan.length > 0">
                                    <div class="member-detail-image-container"  *ngFor="let itemImage of updateSingle.surat_pernyataan; let i = index">
                                        <div *ngIf="validURL(itemImage.pic_file_name) && !loadingSuratPernyataan[i]" class="img-upload">
                                            <pdf-viewer 
                                                *ngIf="checkFileType(itemImage.pic_file_name) == 'document'"
                                                [src]="itemImage.pic_file_name"
                                                [render-text]="false"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>
                                            <img *ngIf="checkFileType(itemImage.pic_file_name) == 'image'" src={{itemImage.pic_file_name}} class="member-detail-image" />
                                        </div>
    
                                        <div class="form-group uploaded" *ngIf="loadingSuratPernyataan[i]">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                          </div>
    
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="openUpload('suratPernyataan', i)">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(itemImage.pic_file_name); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(itemImage.pic_file_name)" class="btn_delete" (click)="deleteImage('suratPernyataan', i, itemImage.url)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>
                                        </div>

                                        <div *ngIf="validURL(itemImage.pic_file_name)" style="text-align: center;">
                                            <span>
                                                <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                            </span>
                                        </div>

                                    </div>
                                </ng-container>

                                <div class="add-more-container">
                                    <button (click)="addMoreUpload('suratPernyataan')" class="add-more-image"><i class="fa fa-fw fa-plus-square"></i> Tambah foto Surat Pernyataan</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
     
         </div>
    </div>
    <ng-template #upload_image>
        <span>
            upload
        </span>
    </ng-template>
</div>