.pb-framer{
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;
    .progressbar{
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }
    .terminated.progressbar{
        background-color: red;
    }
    .clr-white{
        color: white;
    }
}

h1{
    color: white;
}

#approve{
    border: 1px solid #4B5872;
    display: inline-block;
    margin-right: 15px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.fa{
    margin-right: 5px;
    // //color: white;
}

.error_label{
    color: white;
}

mark{
    background-color: #dc3545;
    color: white;
}

.rounded-btn {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
    background: #56a4ff;
}
.rounded-btn:hover {
    background: darken(#56A4FF, 15%);
    // border: 2px solid blue;
    outline: none;
}

.rounded-btn-danger {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 15px;
    background: #dc3545;
}
.rounded-btn-danger:hover {
    background: darken(#dc3545, 15%);
    // border: 2px solid blue;
    outline: none;
}

@media screen and (max-width: 600px) {

    .rounded-btn {
        -webkit-border-radius: 30px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        line-height: 30px;
        padding: 0 12px;
        background: #56a4ff;
        margin-left: 25%;
        margin-top: 10px;
        margin-right: 10px;
      }
      .rounded-btn:hover {
        background: darken(#56a4ff, 15%);
        // border: 2px solid blue;
        outline: none;
      }
    
      .rounded-btn-danger {
        -webkit-border-radius: 30px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        line-height: 30px;
        padding: 0 12px;
        background: #dc3545;
        margin-right: 25%;
        margin-top: 10px;
      }

    .rounded-btn-danger:hover {
        background: darken(#dc3545, 15%);
        // border: 2px solid blue;
        outline: none;
    }
  }
