<div [@routerTransition]>
       
  <app-page-header [heading]="'Notification Message'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="NotificationMessage&&notificationmessageDetail==false">
        <app-form-builder-table
        [table_data]  = "NotificationMessage" 
        [searchCallback]= "[service, 'searchNotificationMessageLint',this]"
        [tableFormat]="tableFormat"
        >
            
        </app-form-builder-table>
  </div>
  <!-- <div *ngIf="notificationmessageDetail">
    <app-notificationmessage-detail [back]="[this,backToHere]" [detail]="notificationmessageDetail"></app-notificationmessage-detail>
</div> -->
 
</div>

