<div *ngIf="!showPasswordPage">
    <div class="card card-detail">
        <div class="card-header">
            <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        </div>
        <div class="card-content">
            <div class="member-detail">
        
                <div class="row">
                    <div class="col-md-4 col-sm-12" >
                        <div class="card mb-3">
                            <div class="card-header"><h2>Change Password</h2></div>
                            <div class="card-content">
                                <div class="col-md-12">
    
                                    <label>ID Pelanggan</label>
                                    <form-input  name="id_pel" [disabled]="true" [type]="'text'" [placeholder]="'ID Pelanggan'"  [(ngModel)]="updateSingle.id_pel" autofocus required></form-input>
    
                                    <div class="add-more-container">
                                        <button (click)="saveNewPassword(updateSingle.id_pel)" class="add-more-image btn-change-password">Request Change Password</button>
                                    </div>
    
                                </div>
                            
                            </div>
                        </div>
                    </div>

                    <!-- CHANGE PASSWORD BULKY -->
                    <!-- <div class="col-md-4 col-sm-12">
                        <div class="card mb-3">
                            <input #changePasswordBulk type="file" style="display:none" (change)="onFileSelected($event)"
                            />

                            <div class="card-header">
                                <h2>Change Password Bulk</h2>
                            </div>
                            <div class="card-content">
                                <div class="col-md-12">
                                    <label>Upload Your File Here</label>
                                    <div class="member-bulk-update-container">
                                        <span *ngIf="selectedFile">{{selectedFile.name}}</span>
                                    </div>

                                    <div class="form-group uploaded" *ngIf="loadingKTPPemilik">
                                        <div class="loading">
                                          <div class="sk-fading-circle">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="container-two-button">
                                        <div class="img-upload" *ngIf="!selectedFile; else upload_image">
                                            <button class="btn-upload" (click)="changePasswordBulk.click()">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span>upload</span>
                                            </button>
                                        </div>

                                        <div class="img-upload" *ngIf="selectedFile">
                                            <button class="btn-upload" (click)="updateDataBulk()">
                                                <i class="fa fa-fw fa-paper-plane"></i>
                                                <span>submit</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <ng-template #upload_image>
                                    <button class="btn-upload" (click)="changePasswordBulk.click()">
                                        <i class="fa fa-fw fa-upload"></i>
                                        <span>re-upload</span>
                                    </button>
                                </ng-template>

                                <div class="col-md-12 col-sm-12 error-msg-upload">
                                    <div *ngIf="errorFile"><mark>Error: {{errorFile}}</mark></div>                       
                                </div>
                            </div>
                        </div>
                    </div> -->
    
                    <!-- <div class="col-md-8 col-sm-12">
                        <button class="btn-add-bulk" (click)="actionShowUploadButton()">Request Change Password Bulk</button>
    
                            <div *ngIf="prodOnUpload==false && showUploadButton">
                                <input type="file" (change)="onFileSelected($event)" style="color: white" />
                                <div class="file-selected" *ngIf="selectedFile">
                                    {{selectedFile.name}}
                                </div>
                                <div class="col-md-12 col-sm-12 error-msg-upload">
                                    <div *ngIf="errorFile"><mark>Error: {{errorFile}}</mark></div>                       
                                </div>
                                <button class="btn rounded-btn" (click)="updateDataBulk()">Upload</button>
                                <button class="btn rounded-btn-danger" (click)="cancelThis()" >Cancel</button>
                                <br><br>
                            </div>
                    </div> -->
                    
                </div>
         
             </div>
        </div>
    </div>
</div>

<div *ngIf="showPasswordPage">
    <app-show-password [back]="[this, 'showThisPassword']" [detail]="dataLogin"></app-show-password>
</div>
