<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="points-models-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Points Models Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Points Models ID</label>
                            <div name="id">{{detail.id}}</div>

                             <label>Organization ID</label>
                             <div name="org_id">{{detail.org_id}}</div>
                            
                             <label>Points Models Type</label>
                             <div name="rule_name" >{{detail.rule_name}}</div>
             
                             <label>Point Model Name</label>
                             <div name="rule_description">{{detail.rule_description}}</div>
             
                             <label>Transaction Type</label>
                             <div name="transaction_name">{{detail.transaction_name}}</div>

                        </div>
                    </div>
                    <div class="card-header"><h2> Calculation Type </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
             
                             <label>Points Models Calculation Type</label>
                             <div name="calc_name">{{detail.calc_name}}</div>

                             <label>Percentage Value</label>
                             <div name="percentage">{{detail.percentage}}</div>
                        </div>
                    </div>
                    <div class="card-header"><h2> By Spending Conditions </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                             <label>Minimum Spending Amount Value</label>
                             <div name="amt_min">{{detail.amt_min}}</div>

                             <label>Maximum Spending Amount Value</label>
                             <div name="amt_max">{{detail.amt_max}}</div>

                             <label>Spending Amount Value</label>
                             <div name="amount">{{detail.amount}}</div>
                        </div>
                    </div>
                    <div class="card-header"><h2> Earned Points </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                             <label>Points Earned Value</label>
                             <div name="points">{{detail.points}}</div>
                        </div>
                    </div>
                    <div class="card-header"><h2> Validity </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                             <label>Status</label>
                             <div name="status">{{detail.status}}</div>

                             <label>Start Date</label>
                             <div name="start_date">{{detail.start_date}}</div>

                             <label>End date</label>
                             <div name="end_date">{{detail.end_date}}</div>
                        </div>
                    </div>
                 </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-points-models-edit [back]="[this, 'editThis']" [detail]="detail" [ruleType]="ruleType" [calcType]="calcType" [transactionType]="transactionType"></app-points-models-edit>
</div>