
<div  class="mb-3">
    <div class="form-group">
        <select class="form-control"  [(ngModel)]="select_value"  (change)="whenItChange()">
            <option *ngFor="let d of data" value="{{d.value}}"  >{{d.label}}</option>
        </select>
    </div>
</div>