<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.name}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> 
            <span  *ngIf="!loading && !done">Save</span>
            <span *ngIf="loading">Loading</span>
            <span  *ngIf="done">Done</span>
        </button>
    </div>
    <div class="card-content">
        <div class="packagebundle-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Package Bundle  </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                                <label>Promo Deals ID</label>
                                <form-input  name="_id" [disabled]="true" [type]="'text'" [(ngModel)]="detail._id" autofocus required></form-input>
                
                                <label>Title</label>
                                <form-input name="title" [type]="'text'" [(ngModel)]="detail.title" autofocus required></form-input>

                                <label>Description</label>
                                <form-input name="description" [type]="'text'" [(ngModel)]="detail.description" autofocus required></form-input>
   
                                <label>Fixed Value</label>
                                <form-input name="fixed_value" [type]="'number'" [(ngModel)]="detail.fixed_value" autofocus required></form-input>
   
                                <label>Discount</label>
                                <form-input name="discount" [type]="'number'" [(ngModel)]="detail.discount" autofocus required></form-input>
                
                                <label>Created Date</label>
                                <form-input name="created_date" [disabled]="true" [type]="'text'" [(ngModel)]="detail.created_date" autofocus required></form-input>
   
                                <label>Type</label>
                                <form-input  name="type" [type]="'text'" [(ngModel)]="detail.type" autofocus required></form-input>
                            
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                         </div>
                       
                      </div>
                 </div>
                </div>
            </div>
     
         </div>
    </div>
    
</div>
