<div [@routerTransition]>
       
  <app-page-header [heading]="''" [icon]="'fa-table'"></app-page-header>
  
  <!-- <button (click)="onDownload()" (click)="getDownloadFileLint()"><i class="fa fa-file-pdf-o"></i>Download</button>
  <iframe [src]="srcDownload"></iframe> -->
  <div *ngIf="AllMember&&allMemberDetail==false">
        <app-form-builder-table
        [table_data]  = "AllMember" 
        [searchCallback]= "[service,'searchAllMemberLint',this]" 
        [tableFormat]="tableFormat"
        [total_page]="totalPage"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="allMemberDetail">
    <app-all-member-detail [back]="[this,backToHere]" [detail]="allMemberDetail"></app-all-member-detail>
</div>
 
</div>

