.page-header {
    color: white;

    // margin: 10px 0;
    margin-top:35px;
}

.top-bar-menu {
    // margin-bottom: 40px;
    margin-top: 60px;

    a {
        font-size: 14px;
        padding: 20px;
        height: 26px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        margin: 5px;
        letter-spacing: 1px;
    }

    a.active {
        background: #3498db;
    }

    a.inactive {
        color: rgba(255, 255, 255, 0.7);
        background: rgba(52, 152, 219, 0.7);
        border-left: 1px solid rgba(0, 0, 0, 0.5);

    }

    a:hover {
        background: #3498db;
        color: white;
    }
}

.breadcrumb {
    background-color: #3a4458;

    .breadcrumb-item {
        > .fa {
            color: white;
            margin-right: 5px;
        }
    }
}

#dash {
    color: white;
}

@media screen and (max-width: 991px) {
    .top-bar-menu {
        text-align: center;
        margin-top: 60px;
    }
}
