<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.product_code}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="media-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Media Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Media ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Product Code</label>
                            <div name="product_code" >{{detail.product_code}}</div>
                            <label>Filename</label>
                             <div name="name" >{{detail.name}}</div>
                            <label>Description File</label>
                            <div name="description" >{{detail.description}}</div>
                             <label>Type File</label>
                             <div name="type" >{{detail.type}}</div>
                             <label>Error Status File Upload</label>
                             <div name="error" >{{detail.error}}</div>
                             <label>File Size (in MB)</label>
                             <div name="size" >{{detail.size}}</div>
                             <label>File Extension</label>
                             <div name="extension" >{{detail.extension}}</div>
                             <label>Basename File</label>
                             <div name="basename" >{{detail.basename}}</div>
                             

                             <!-- <div name="products">
                                 <div name="product" *ngFor="let p of detail.products">
                                    <label>Product Name</label>
                                    <div name="name" >{{p.name}}</div>
                                 </div>
                             </div> -->
                            


                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Media &amp; Location File URL</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                                <label>URL File Location</label>
                                <div name="url" >{{detail.url}}</div>
                                <label>URL Host</label>
                                <div name="url_host" >{{detail.url_host}}</div>
                                <label>Dir URL</label>
                                <div name="dir_url" >{{detail.dir_url}}</div>
                                <label>Image URL</label>
                                <div name="image_url" >{{detail.image_url}}</div>
                                <label>Created Date</label>
                                <div name="created_date" >{{detail.created_date}}</div>
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div>
            </div>
     
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-media-edit [back]="[this, 'editThis']" [detail]="detail"></app-media-edit>
</div>