<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Email'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddEmail(form.value)">
      <div class="col-md-6">
          <label>Sender</label>
          <form-input name="sender_email" [type]="'text'" [placeholder]="'Sender'"  [(ngModel)]="sender_email" autofocus required></form-input>

          <label>Recipient</label>
          <form-input name="recipient_email" [type]="'text'" [placeholder]="'Recipient'"  [(ngModel)]="recipient_email" autofocus required></form-input>
         
          <label>CC Recipient</label>
          <form-input name="CC" [type]="'text'" [placeholder]="'CC Recipient'"  [(ngModel)]="CC" autofocus required></form-input>

          <label>Subject</label>
          <form-input name="subject" [type]="'text'" [placeholder]="'Subject'"  [(ngModel)]="subject" autofocus required></form-input>

          <label>Body</label>
          <form-input name="body" [type]="'text'" [placeholder]="'Body'"  [(ngModel)]="body" autofocus required></form-input>
          
          <label>Email Type</label>
          <form-input name="email_type" [type]="'text'" [placeholder]="'Email Type'"  [(ngModel)]="email_type" autofocus required></form-input>

        </div>  
      <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 