<div [@routerTransition]>
  <app-page-header [heading]="'Order History Pending'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistorypending&&orderhistorypendingDetail==false">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistorypendingLint',this]" 
        [tableFormat]="tableFormat"
        [table_data]="Orderhistorypending"
        [total_page]="totalPage"
      >
            
        </app-form-builder-table>
  </div>
      <!-- <div *ngIf="orderhistorypendingDetail">
            <app-orderhistorypending-detail [back]="[this,backToHere]" [detail]="orderhistorypendingDetail"></app-orderhistorypending-detail>
      </div> -->

  </div>

