<div [@routerTransition]>
       
  <app-page-header [heading]="'Points Group'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="PointsGroup&&pointsGroupDetail==false">
        <app-form-builder-table
        [table_data]  = "PointsGroup" 
        [searchCallback]= "[service, 'searchPointsGroupLint',this]"
        [tableFormat]="tableFormat"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="pointsGroupDetail">
    <app-points-group-detail [back]="[this,backToHere]" [detail]="pointsGroupDetail"></app-points-group-detail>
</div>
 
</div>

