<div [@routerTransition]>
    <app-page-header [heading]="'Customer Retention Rate (CRR)'" [icon]="'fa-table'" [topBarMenu]="topBarMenu"></app-page-header>
    <div class="summary-report row">
     <div class="col-md-12"  *ngIf="analitycsData.crrData.barChartLabels.length">
            <div class="row-per-card">
                <div class="card " style="max-width: 100%;">
                    <div class="card-header">
                            Customer Retention Rate (CRR) Graph
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="analitycsData.crrData.barChartData"
                            [labels]="analitycsData.crrData.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <div class="card-footer">
                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                        </div> 
                </div>
            </div>     
        </div> 

        

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:20px; text-align:center;">
                    <div class="card-sum card" *ngIf="data.values">
                        <div class="card-header">Customer Retention Rate (CRR) Table</div>
                        <div class="card-body">
                            <table style="text-align:left;">
                            <tr>
                                <th>DATE</th>
                                <th>CRR</th>
                                <th>END TOTAL MEMBER</th>
                                <th>START TOTAL MEMBER</th>
                                <th>TRANSACTIONS</th>
                            </tr>
                            <tr *ngFor="let dt of dataTable">
                                <td>{{dt.date}}</td>
                                <td>{{dt.CRR}}</td>
                                <td>{{dt.end_total_member}}</td>
                                <td>{{dt.start_p_total_member}}</td>
                                <td>{{dt.trx_today}}</td>
                            </tr>
                            </table>
                        </div>
                    </div>
                
                </div> 
            </div>
        </div>
       




    </div>




</div>