<div class="row _container">
    <div class="col-md-12">
        <div class="row cl-row-list">
            <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list">
                    <div class="card-header profile">
                        <span class="card-header-title">Profile</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/Pelanggan_aktif.svg">
                        </div>
                    </div>
                    <div class="card-body with-upgrade">
                        <div class="center">Get and Update your profile here</div>
                        <div class="button-container">
                            <button routerLink="/merchant-portal/profile" class="btn btn-2 btn-primary">
                                Update My Profile
                            </button>
                            <button routerLink="/merchant-portal/homepage/upgrade-genuine" class="btn-1 btn upgrade">
                                <!-- <img src="assets/images/best-seller.png"> -->
                                <span>Upgrade Merchant</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list">
                    <div class="card-header sales-order">
                        <span class="card-header-title">Sales Order</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/Group_5917.svg">
                            <!-- <div>
                                <span class="title-sub">Total</span>
                                <br>
                                <span class="body-sub" *ngIf="!myProducts || myOrderHistory.total_all_values <=0 ">0</span>
                                <span class="body-sub"
                                    *ngIf="myProducts && myOrderHistory.total_all_values >0 ">{{myOrderHistory.total_all_values}}</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="center">You can get detail statistics of your products and orders here</div>
                        <div class="button-container">
                        <button routerLink="/merchant-portal/sales-order" class="btn btn-1 btn-primary">
                            &nbsp; See My Sales Order
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list">
                    <div class="card-header product">
                        <span class="card-header-title">Products</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/tshirt.svg">
                            <div>
                                <span class="title-sub">Total</span>
                                <br>
                                <span class="body-sub" *ngIf="!myProducts || myProducts.total_all_values <=0 ">0</span>
                                <span class="body-sub"
                                    *ngIf="myProducts && myProducts.total_all_values >0 ">{{myProducts.total_all_values}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div *ngIf="!myProducts || myProducts.total_all_values <=0 " class="center">You have no single
                            Product yet. Lets upload new product!.
                        </div>
                        <div *ngIf="myProducts && myProducts.total_all_values>0" class="center">See uploaded products
                            here.
                        </div>
                        <div class="button-container">
                        <button *ngIf="!myProducts || myProducts.total_all_values <=0 " routerLink="/merchant-portal/add"
                            class="btn btn-1 btn-primary"> Upload New Products
                        </button>
                        <button *ngIf="myProducts && myProducts.total_all_values>0" routerLink="/merchant-portal/product-list"
                            class="btn btn-1 btn-primary"> My Products
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list">
                    <div class="card-header order-history">
                        <span class="card-header-title">Order History</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/Path_2304.svg">
                            <!-- <div>
                                <span class="title-sub">Total</span>
                                <br>
                                <span class="body-sub" *ngIf="!myProducts || myOrderHistory.total_all_values <=0 ">0</span>
                                <span class="body-sub"
                                    *ngIf="myProducts && myOrderHistory.total_all_values >0 ">{{myOrderHistory.total_all_values}}</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="center">You have no to process Order yet</div>
                        <div class="button-container">
                        <button routerLink="/merchant-portal/order-histories" class="btn btn-1 btn-primary">
                            See My Order History
                        </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3">
                <div class="card cl-list">
                    <div class="card-header">
                      <em class="fa store fa-store"></em> Store Front
                    </div>
                    <div class="card-body">
                      <div class="left">Check your Storefront looks like</div>
                      <button routerLink="/merchant-portal/add" class="btn btn-primary"><span class="fa fa-eye"></span> &nbsp; watch</button>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list">
                    <div class="card-header statistics">
                        <span class="card-header-title">Statistics</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/statistics.svg">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="left">You can get detail statistics of your products and orders here</div>
                        <div class="button-container">
                        <button routerLink="/merchant-portal/statistics" class="btn btn-1 btn-primary">
                            See More Detail
                        </button>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

    </div>
</div>