<div [@routerTransition]>
       
  <app-page-header [heading]="'Points Report'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="PointsModels && pointsModelsDetail==false && !errorMessage && mci_project == false && programType!='custom_kontraktual'">
        <app-form-builder-table
        [table_data]  = "PointsModels" 
        [searchCallback]= "[service, 'searchPointstransactionreportLint',this]"
        [tableFormat]="tableFormat"
        [total_page]="totalPage"
        >
            
        </app-form-builder-table>
  </div>

  <div *ngIf="PointsModels && pointsModelsDetail==false && !errorMessage && mci_project == true && programType!='custom_kontraktual'">
    <app-form-builder-table
    [table_data]  = "PointsModels" 
    [searchCallback]= "[service, 'searchPointstransactionreportLint',this]"
    [tableFormat]="tableFormat2"
    [total_page]="totalPage"
    >
        
    </app-form-builder-table>
 </div>
 <div *ngIf="PointsModels && pointsModelsDetail==false && !errorMessage && mci_project == false && programType=='custom_kontraktual'">
  <app-form-builder-table
  [table_data]  = "PointsModels" 
  [searchCallback]= "[service, 'searchPointstransactionreportLint',this]"
  [tableFormat]="tableFormat3"
  [total_page]="totalPage"
  >
      
  </app-form-builder-table>
</div>
  <div *ngIf="errorMessage" class="error-message">
    <div class="text-message">
      <i class="fas fa-ban"></i>
      {{errorMessage}}
    </div>
  </div>
  <div *ngIf="pointsModelsDetail">
    <app-points-models-detail [back]="[this,backToHere]" [detail]="pointsModelsDetail"></app-points-models-detail>
</div>
 
</div>

