.error-message {
  background: white;
  height:100vh;
  text-align: center;
  font-size:26px;
  padding-top: 10px;

  .text-message {
      background: #E74C3C;
      padding: 20px;
      margin: 0 10px;
  }
}