<div [@routerTransition]>
  <app-page-header [heading]="'Packing List'" [icon]="'fa-table'"></app-page-header>
    <div class="container-swapper-option" *ngIf="packingListDetail==false&&!errorMessage">
        <span style="margin-right: 10px;">View</span> 
        <div class="button-container">
        <button class="btn toolbar {{swaper}}" (click)="swapClick(true)">
            <span class="fa fa-table"> Active</span>
        </button>
        <button class="btn toolbar {{!swaper}}" (click)="swapClick(false)">
            <span class="fa fa-table"> Processed</span>
        </button>
        </div>
    </div>

    <div *ngIf="Orderhistoryallhistory && packingListDetail==false && swaper==true && !errorMessage">
        <app-form-builder-table 
        [table_data]="Orderhistoryallhistory"
        [searchCallback]="[service, 'searchPackingList',this]" 
        [tableFormat]="tableFormat"
        [total_page]="totalPage"
        >
        </app-form-builder-table>
    </div>

    <div *ngIf="Orderhistoryallhistory && packingListDetail==false && swaper==false && !errorMessage">
        <app-form-builder-table 
        [table_data]="Orderhistoryallhistory"
        [searchCallback]="[service, 'searchPackingList2',this]" 
        [tableFormat]="tableFormat2"
        [total_page]="totalPage"
        >
        </app-form-builder-table>
    </div>

    <div *ngIf="errorMessage" class="error-message">
        <div class="text-message">
        <i class="fas fa-ban"></i>
        {{errorMessage}}
        </div>
    </div>

    <!-- <div *ngIf="packingListDetail">
        <app-orderhistoryallhistory-edit [back]="[this,backToHere]" [detail]="packingListDetail"></app-orderhistoryallhistory-edit>
    </div> -->

    <div *ngIf="packingListDetail">
    <app-packing-list-detail [back]="[this,backToHere]" [detail]="packingListDetail"></app-packing-list-detail>
    </div>

  </div>

