
@media print {
  @page {
    size: A4 portrait;
    margin: 0.4mm 0.4mm 1.65mm 0.4mm;
    display: block;
  }

  #header {
    display: none;
  }

  h5 {
    display: none;
  }

  app-page-header {
    display: none;
  }

  button {
    display: none;
  }

  * {
    font-size: 13px;
  }

  div.table-order {
    transform: scale(0.7);
    padding-bottom: 20px;
    width: 20cm;
    height: 9cm;
  }

  div._container {
    padding-top: 0px;
    // page-break-after: always;
    break-inside: avoid;
  }

  .page-number {
    display: none;
  }
}

.header-title {
  color: #ffffff;
  strong {
    font-weight: normal !important;
  }
}

body {
  background-color: #eaeaea;
  font-family: "Poppins";
  color: #eaeaea;
  text-align: left;
  font-size: 11px;
  margin: 0;
}
.mat-raised-button.mat-primary {
  background-color: #2481fb;
  float: right;
  padding: 5px 20px;
  font-family: "Poppins";
  margin: 10px 40px;
  border-radius: 5px;

  .fa {
    margin-left: 8px;
  }
}

._container {
  background-color: #fff;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  text-align: -webkit-center;
  // page-break-after: always;
  padding-top: 20px;

  .content {
    .layanan {
      text-align: center;
      margin-bottom: 30px;
    }

    .page-number {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 18px;
    }

    .table-order {
      height: 100%;
      width: 100%;
      font-size: 11px;

      .order-id-header {
        width: 70%;
        table-layout: fixed;
        border-top: 0;
        width: 80%;
      }

      .header {
        table-layout: auto;
        border-bottom: 0;
        width: 20cm;
      }

      .detail-barang-pengiriman {
        text-align: left;
        width: 20cm;

        .row-eq-height {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        }

        .row {
          margin-left: 0px;
          height: 100%;
        }

        .detail-barang {
          // border-right: solid #eaeaea 1px;
          width: 100%;
          .daftar-barang {
            padding-left: 20px;
            // border-right: solid #eaeaea 1px;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          .catatan {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        .detail-pengiriman {
          width: 50%;
          .jenis-pengiriman {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-weight: bold;
            text-align: left;
          }

          .total-harga {
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            font-weight: bold;
            padding-left: 0px;
          }
        }
      }

      .detail-header {
        width: 20cm;
        text-align: left;
        border-top: 0;
        border-bottom: 0;

        .row-detail-shipping {
          width: 100%;
          flex-wrap: unset !important;
        }

        .detail-person {
          border-right: solid #eaeaea 1px;
          padding: 20px;
          width: 45%;
          .receiver {
            border-bottom: #eaeaea solid 1px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            margin-top: 15px;
          }
        }

        .detail-order {
          padding: 20px;
          .tlc {
            font-size: 20px;
          }
        }

        .row {
          margin-left: 0px;
        }
      }

      .additional-info-header {
        width: 20cm;
        .row-additional-info {
          text-align: center;
          font-weight: bold;
          font-size: 13px;
        }
      }

      .locard-logo {
        width: 100px;
        // text-align: center;
        .logo-avatar {
          -webkit-border-radius: 50%;
          border-radius: 0%;
          width: 60px;
        }
      }

      .courier-logo {
        text-align: center;
      }

      #courier-logo {
        text-align: center;

        .logo-avatar {
          width: 120px;
        }
      }

      .awb {
        text-align: center;
      }

      .order-id {
        text-align: center;
        p {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

.btn-print {
  text-align: center;
  margin: 15px 0px;
}

.page-break:last-child {
  page-break-after: auto;
}

div._container:last-child {
  page-break-after: auto;
}
table {
  border: 2px solid #eaeaea;
  border-collapse: collapse;
}
td,
tr,
th {
  padding: 12px;
  border: 1px solid #eaeaea;
  width: 185px;
}
th {
  background-color: #f0f0f0;
}
h4,
p {
  margin: 0px;
}

#garis {
  height: 200px;
  color: #eaeaea;
}

#thanks {
  font-size: 15px;
  text-align: center;
  color: #0ea8db;
  font-weight: bold;
}

#header {
  text-align: center;
  margin-top: 10px;
}

#non {
  border: 1px solid #eaeaea;
  font-size: 20px;
  padding: 4px;
}

#shipping {
  font-size: 20px;
}

#order {
  position: relative;
  bottom: 10px;
}

.send {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #card-transaction {
  padding-top: 50px;
}

.table-no-border {
  border: none;
  padding: 0px;
}

.td-fit {
  width: fit-content;
}