<div class="card " *ngIf="analitycsData.barChartLabels.length">
    <div class="card-header">
        Order History Per Day
    </div>
    <div class="card-body">
        <canvas baseChart [datasets]="analitycsData.barChartData"
            [labels]="analitycsData.barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    <!-- <div class="card-footer">
            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
        </div> -->
</div>