<div [@routerTransition]>
       
  <app-page-header [heading]="'Points Campaign'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="PointsCampaign&&pointsCampaignDetail==false">
        <app-form-builder-table
        [table_data]  = "PointsCampaign" 
        [searchCallback]= "[service, 'searchPointsCampaignLint',this]"
        [tableFormat]="tableFormat"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="pointsCampaignDetail">
    <app-points-campaign-detail [back]="[this,backToHere]" [detail]="pointsCampaignDetail"></app-points-campaign-detail>
</div>
 
</div>

