<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">{{label}}</div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group datepicker-input">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                            <span class="fa fa-calendar"></span>
                        </button>
                    </div>
                </div>
                <!-- <div class="alert alert-info mb-0">
                    <strong>Model: </strong> {{ model | json }}
                </div> -->
            </div>
        </div>
    </div>
</div>

