$size: 10vw;
* {
  font-family: "Poppins", sans-serif;
  transition: ease all 0.3s;
}

.header{
  background-color: #3a4458;
  width: 100%;
  height: 80px;
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: center;
  color: white;
  h3 {
    margin-left: 8%;
  }
}
.success {
  text-align: center;
  .img-success {
    width: 25vw;
    height: auto;
    margin-bottom: 2%;
    min-width: 250px;
  }
  .header-success {
    margin-top:1%;
    font-weight: bold;
    font-size: 35px;
    width: 100%;
  }
  .sub-header {
    margin-bottom: 2%;
    color:grey;
    font-weight: bold;
    font-size: 25px;
  }
}
.title-diff {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 2%;
}
.estar {
  color: red;
}
.save-container {
  margin: 4% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  .save {
    width: 35%;
    outline:none;
    height: 60px;
    color: white;
    background-color: #ff7301;
  }
}
.darkwhite {
  background-color: #707070 ;
  color: white;
  font-size: 15px;
}
.success-container {
  margin: 1% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .add {
    width: 25%;
    outline:none;
    height: 50px;
    color: white;
    border: none;
    background-color: #ff7301;
  }
  .dashboard {
    width: 25%;
    outline:none;
    border-color: #ff7301;
    height: 50px;
    color: #ff7301;
    background-color: white;
  }
}
.container {
  padding: 3% 5% 3%;
  width: 75%;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  .container-header {
    margin-bottom: 6%;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    color: grey;
    margin-top: 3%;
  }
}
.image-upload-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  margin-bottom: 25px;
  .bg { 
    width: 65%;
  }
  .logo { 
    width: 35%;
  }
  .img-upload {
    height: 400px;
    position: relative;
   
    > .card {
      height: 300px;
      border: none;
      display: block;
      > .card-title {
        h2 {
          font-size: 24px;
        }
      }
      > .card-content {
        height: 100%;
        position: relative;
        height: 250px;
        .image {
          display: block;
          float: left;
          height: 100%;
          width: 100%;
          .custom {
        
            margin: 20px;
            background-color: rgba(0, 0, 0, 0.03);
            border: 2px solid #ebebeb;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 40px;
            .set-opacity {
              opacity: 0.1;
              height: 60px;
              width: auto;
            }
          }
        }
      }
      > .form-group.uploaded {
        position: relative;
        margin-bottom: 0px;
       height: 250px;
        .loading {
          height: 100%;
          .sk-fading-circle {
            top: 50%;
          }
        }
        .uploaded-image {
          height: 100%;
          padding: 20px;
          .img {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .img > img {
            height: 100%;
            width: auto;
            max-height: 300px;
          }
          .editor-tool {
            height: 100%;
          }
        }
      }
    }
  }
  .img-upload:last-child {
    margin-left: 16px;
  }
}
.form-body {
  .or-group {
    margin-left: 0px;
    margin-right: 0px;
    .col-md-6 {
      padding-left: 0px;
    }
    .col-md-6:last-child {
      padding-right: 0px;
    }
  }
}
.courier-service {
  .mat-checkbox:not(:first-child) {
    margin-left: 15px;
  }
}
.btn.save {
  margin: 15px 15px 0px 0px;
}
.form {
  padding: 25px;
  overflow: hidden;
  // top: 5vw;
  position: relative;

  .browse-files {
    .fileupload {
      margin-top: 25px;
    }
  }
  .error-message {
    float: left;
    position: relative;
  }
  .error-margin {
    margin-top: 40px;
  }
  .head-form {
    overflow: hidden;
    height: 11vw;

    .photo-profile {
      display: block;
      width: $size;
      height: $size;
      float: left;
    }

    .detail {
      display: flex;
      flex-direction: column;
      float: left;
      justify-content: center;
      align-items: flex-start;
      font-size: 15px;
      height: 65px;
      line-height: 17px;
      padding: 5px;
      margin-top: 3vw;
      margin-left: 2vw;

      .name {
        font-size: 27px;
        font-weight: bold;
      }
    }
  }

  .editor-group {
    margin-top: 25px;
  }

  .form-group {
    position: relative;
    
    label {
      text-transform: capitalize;
    }

    .form-control {
      font-size: 12px;
      background-color: transparent;
      font-weight: bold;
    }

    .form-control.true {
      background-color: white;
      font-weight: normal;
    }

    .form-control ~ .iconic {
      position: absolute;
      right: 10px;
      top: 37px;
      transform: scale(0.7);
    }

    .description {
      height: 110px;
    }
  }

  .vl {
    border-left: 1px solid #eaeaea;
  }

  img.resize {
    max-width: 100%;
    max-height: 100%;
  }
}

.card-title {
  margin: 20px 0px;
  border-bottom: 1px solid #333;
  border-left: 5px solid #8fd6ff;
  h2 {
    margin: 0px 0px 5px 5px;
    font-size: 23px;
    padding: 5px;
  }
}

.check {
  font-size: 12px;
  padding-left: 12px;
}

.uploaded-image {
  margin: 0px auto;
  width: auto;
  padding: 50px;
  height: auto;
  cursor: pointer;

  .text-fileupload {
    display: block;
    text-align: center;
    cursor: pointer;
    color: #2480fb;
    margin-top: 10px;
  }

  .img {
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

    .editor-tool {
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .img:hover .editor-tool {
    opacity: 0.9;
  }
}

input[type="file"] {
  display: none;
}

@media (max-width: 850px) {
  .image-upload-group {
    .img-upload {
      > .card {
        > .card-content {
          .image {
            .custom {
              img.set-opacity {
                height: 25px;
              }
              .browse-files {
                .pb-framer {
                  .common-button {
                    margin-top: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
