<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="points-group-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Point Group Edit </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                                <label>Organization ID</label>
                                <form-input name="org_id" [placeholder]="'Organization ID'"  [type]="'text'" [(ngModel)]="org_id" required></form-input>
                      
                                <label>Campaign Name</label>
                                <form-input name="campaign_name" [placeholder]="'Campaign Name'" [type]="'text'" [(ngModel)]="campaign_name" required></form-input>
                      
                                <label>Campaign ID</label>
                                <form-input name="campaign_id" [placeholder]="'Campaign ID'"  [type]="'text'" [(ngModel)]="campaign_id" required></form-input>
                      
                                <label>Group Name</label>
                                <form-input name="group_name" [placeholder]="'Group Name'"  [type]="'text'" [(ngModel)]="group_name" required></form-input>
                      
                                <label>Group Code</label>
                                <form-input name="group_code" [placeholder]="'Group Code'"  [type]="'text'" [(ngModel)]="group_code" required></form-input>
                      
                                <label>Description</label>
                                <form-input name="description" [placeholder]="'Description'"  [type]="'text'" [(ngModel)]="description" required></form-input>
    
                         </div>
                       
                      </div>
                    <div class="card-header"><h2> Point Models List </h2></div>
                    <div class="card-content">
                         <div class="col-md-12">
                            <label>Point Models</label>
                            <div name="pts_model_id"> {{status}}
                                <form-select name="pts_model_id" [(ngModel)]="pts_model_id" [data]="pointModels" required></form-select> 
                            </div>
                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Validity</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Status</label>
                            <div name="status"> {{status}}
                                <form-select name="status" [(ngModel)]="status" [data]="groupStatus" required></form-select> 
                            </div>
                    
                            <label>Start Date</label>
                            <form-input name="start_date" [placeholder]="'yyyy-MM-dd'"  [type]="'date'" max="2020-12-31" [(ngModel)]="start_date" required></form-input>
                    
                            <label>End Date</label>
                            <form-input name="end_date" [placeholder]="'yyyy-MM-dd'"  [type]="'date'" max="2020-12-31" [(ngModel)]="end_date" required></form-input>
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
     
         </div>
    </div>
    <div [@routerTransition]>
       
        <app-page-header [heading]="'Points Models'" [icon]="'fa-table'"></app-page-header>
        
        <div *ngIf="PointsModels">
              <app-form-builder-table 
              [table_title] = "table_title" 
              [table_data]  = "PointsModels" 
              [table_header]= "table_headers" 
              [table_row]   = "table_rows"
              [row_id]      = "row_id"
              [options]     = "formOptions"
              >
                  
              </app-form-builder-table>
        </div>
       
      </div>
    
</div>