<div [@routerTransition]>
    <app-page-header [heading]="'Product Detail'" [icon]="'fa-table'"></app-page-header>
    <div class="edit-product">
        <div class="e-wrapper">
            <app-merchant-edit-product-product></app-merchant-edit-product-product>
        </div>
    </div>
</div>