<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
    </div>
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Show Password</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>ID Pelanggan</label>
                                <form-input  name="id_pel" [disabled]="true" [type]="'text'" [placeholder]="'ID Pelanggan'"  [(ngModel)]="updateSingle.username" autofocus required></form-input>

                                <label>Current Password</label>
                                <form-input  name="password" [disabled]="true" [type]="'text'" [placeholder]="'Current Password'"  [(ngModel)]="updateSingle.password" autofocus required></form-input>
                
                            </div>
                        
                        </div>
                    </div>
                </div>
                
            </div>
     
         </div>

         <div>
            <p style="color: red;">Note: Password hanya bisa dilihat satu kali. Mohon segera simpan Password dari Pelanggan ini.</p>
        </div>
    </div>

    
</div>