#merchant-portal {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dev-mode-merchant-portal {
    margin-top: 23px;
    height: calc(100% - 23px);

    #merchant-portal {
        position: absolute;
        z-index: 1;
        width: 100%;
        // height: calc(100vh - 25px);
        left: 0px;
        top: 25px;
    }
}

// Main Container
.main-container {
    position: relative;
    margin-left: 100px;
    top: 70px;
    height: calc(85vh + 2px) !important;
    width: calc(100vw - 100px);
    overflow: auto;
    background: #fcfcfc;
    overflow-x: hidden;
}

@media (max-width: 620px){
    .main-container {
        position: relative;
        width: calc(100vw - 61px);
        margin-left: 50px;
    }
}
@media print {
    .main-container{
    position: relative;
    top: 0;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fcfcfc;
    overflow-x: hidden;
    }

    .dev-mode-merchant-portal{
        // display: none;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    #merchant-portal {
        position: relative;
    }
}