.table-container {
    background: #2e3544 ;
    padding: 2%;
}

table {
	width: 100%;
	// border-collapse: collapse;
    // border: 1px solid #333;
    background-color: white;
	font-size: 12px;
	box-shadow: 5px 5px 10px #999;
	border-radius: 5px;
	text-transform: capitalize;
    overflow: hidden;
    table-layout: auto;

	td {
		//  border-style:solid;
		//  border-color: #333;
		border-width: 0px 1px 0px 0px;
		padding: 15px;
		vertical-align: top;
        
		em {
			display: block;
			margin-left: 5px;
			font-size: 10px;
			font-style: italic;
        }
        
	}

	tr:hover {
		background-color: lightblue;
	}

	

	td button {
		pointer-events: none;
        font-weight: bold;
        
    }
    td {
        .pending {
            border-radius: 30px;
            background-color: #ffe6d5;
            color: #ee680c;
            width: 80px;
            height: 35px;
            font-size: 12px;
            border: none;
        }
    
        .success {
            background-color: #daf9f1;
            color: #2ea56e;
            border-radius: 30px;
            width: 80px;
            height: 35px;
            font-size: 12px;
            border: none;
        }
    
        .hold {
            background-color: #f2e8ff;
            color: #8b5acf;
            border-radius: 30px;
            width: 80px;
            height: 35px;
            font-size: 12px;
            border: none;
        }
    
        .refunded {
            border-radius: 30px;
            background-color: #e4ecff;
            color: #4271df;
            width: 80px;
            height: 35px;
            font-size: 12px;
            border: none;
        }
    
        .rejected {
            border-radius: 30px;
            background-color: #fcecf0;
            color: #ec3b60;
            width: 80px;
            height: 35px;
            font-size: 12px;
            border: none;
        }
    }

	th {
		background-color: #f2f2f2;
		color: #8d8d8d;
		// border: 1px solid #333;
		padding: 15px;
		// text-align: center;
		font-weight: bold;
		text-transform: capitalize;
		// border-radius: 10px;
	}

	// .pagination{
	//     margin-top:10px;
	//     float:right;
	// }
}