<div [@routerTransition]>
       
  <app-page-header [heading]="'Broadcast'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="Broadcast&&broadcastDetail==false">
        <app-form-builder-table
        [table_data]  = "Broadcast" 
        [searchCallback]= "[service, 'searchBroadcastLint',this]"
        [tableFormat]="tableFormat"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="broadcastDetail">
    <app-broadcast-detail [back]="[this,backToHere]" [detail]="broadcastDetail"></app-broadcast-detail>
</div>
 
</div>

