<div >
  <!-- <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0"></ng2-completer> -->
  <input list="browsers" (keyup)="onSearch()" (change)="onDataChanged()" [(ngModel)]="dataSearch">
  <datalist id="browsers">
    <option *ngFor="let dt of routePath" [value]="dt.path">{{dt.label}}</option>
  </datalist>
</div>