.card-detail{
    >.card-header{
        position: relative;
        .back_button{
            position: absolute;
            margin-top: -4px;
            margin-left: -10px;
            background-color: transparent;
            color: #555;
            height: 30px;
            
            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            i{
                font-weight: bold;
            }
        }
        .save_button{
            position: absolute;
            top: 7px;
            background-color: #3498db;
            color: #fff;
            height: 30px;
            
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            i{
                font-weight: bold;
            }
            right: 10px;
        }
        .save_button.true{
            background-color: #e67e22;
        }
    }
    .card-content{
        padding: 15px;
       
        >.col-md-12{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
    h1{
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }
    .promotion-detail{
       
        label{
            margin-top: 10px;
        }
        label+div{
            background: #f0f0f0;
            font-weight:normal;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            min-height: 27px;
            font-size: 12px;
            color: #666;
        }
        // .image{
        //     overflow: hidden;
        //     >div{
        //         width: 33.3333%;
        //         padding: 5px;
        //         float: left;
        //     }
        //     .card-header{
        //         background-color: #f0f0f0;
        //     }
        //     h3{
        //         font-size: 12px;
        //         margin-bottom: 0px;
        //         color: #555;
        //     }
        //     .card-content{
        //         overflow: hidden;
        //         width: 100%;
        //         height: auto;
        //         img{
        //             max-width: 100%;
        //             width: 100%;
    
        //         }
        //     }
        // }

        .card-header{ 
            background-color: #555;
            h2{
                color: white;
                font-size: 15px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;
        
            }
        }
    }
}
