.card-detail {
    >.card-header {
        position: relative;
        min-height: 48px;

        .back_button {
            position: absolute;
            margin-top: -4px;
            margin-left: -5px;
            background-color: transparent;
            color: #555;
            height: 30px;

            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;

            i {
                font-weight: bold;
            }
        }

        .save_button {
            position: absolute;
            top: 7px;
            background-color: #3498db;
            color: #fff;
            height: 30px;

            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-weight: bold;
            }

            right: 16px;
        }

        .save_button.true {
            background-color: #e67e22;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #333;

        td {
            border-style: solid;
            border-color: #333;
            border-width: 0px 1px 0px 0px;
            padding: 5px;
            vertical-align: top;

            em {
                display: block;
                margin-left: 5px;
                font-size: 10px;
                font-style: italic;

            }

        }

        td.qty {
            text-align: center;
        }

        td.price {
            text-align: right;
        }

        th {
            background-color: #999;
            color: white;
            border: 1px solid #333;
            padding: 5px;
            text-align: left;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    .card-content {
        padding: 15px;

        >.col-md-12 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    h1 {
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }

    .orderhistoryallhistory-detail {

        label {
            margin-top: 10px;
        }

        .head-one {
            line-height: 33px;
            border-bottom: 2px solid #333;

            label.order-id {
                font-size: 26px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            label.buyer-name {
                font-size: 24px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .buyer-detail {
            border-top: 2px solid #333;

            label#buyer-detail {
                font-size: 12px;
                font-weight: bold;

                .buyer-name {
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }

        .product-group {
            padding-bottom: 25px;


        }

        label+div {
            // background: #f0f0f0;
            font-weight: normal;
            // padding: 10px;
            // border: 1px solid #ccc;
            // margin-bottom: 15px;
            // min-height: 27px;
            // font-size: 12px;
            // color: #666;
        }

        // .image{
        //     overflow: hidden;
        //     >div{
        //         width: 33.3333%;
        //         padding: 5px;
        //         float: left;
        //     }
        //     .card-header{
        //         background-color: #f0f0f0;
        //     }
        //     h3{
        //         font-size: 12px;
        //         margin-bottom: 0px;
        //         color: #555;
        //     }
        //     .card-content{
        //         overflow: hidden;
        //         width: 100%;
        //         height: auto;
        //         img{
        //             max-width: 100%;
        //             width: 100%;

        //         }
        //     }
        // }

        .card-header {
            background-color: #555;

            h2 {
                color: white;
                font-size: 15px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;

            }
        }

        .awb-list {
            float: left;
            width: 100%;

            .awb {
                font-size: 11px;
                margin-top: 10px;
            }
        }
    }
}

.shipping-date {
    color: #999;
    font-size: 10px;
}

.shipping-status {
    float: left;
    width: 100%;
    border-left: 2px solid black;
    position: relative;
    text-transform: capitalize;

    .radio-button {
        display: flex;
        width: 16px;
        height: 16px;
        border: 2px solid black;
        background: white;
        border-radius: 16px;
        float: left;
        transform: translate(-9px, -7px);
        position: absolute;
        cursor: pointer;
        justify-content: center;
        align-items: center;

    }

    .radio-button+label {
        display: block;
        float: left;
        width: calc(100% - 27px);
        padding: 0px 5px 10px 10px;
        transform: translate(0px, -22px);
        cursor: pointer;

    }

    .radio-button.checked-true {
        border-color: #2ecc71;
    }

    .radio-button.checked-true:before {
        content: "";
        background-color: #2ecc71;
        display: block;
        border-radius: 9px;
        width: 8px !important;
        height: 8px !important;
    }

    .radio-button.hovered-true:before {
        background-color: #2ecc71;
        width: 6px;
        height: 6px;
        content: "";
        border-radius: 8px;
        background-color: #2ecc71;
        display: block;
    }
}

.shipping-status:last-child {
    border-left-color: transparent;
}
