<div [@routerTransition]>
       
  <app-page-header [heading]="'Notifications'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="Notifications&&notificationDetail==false">
        <app-form-builder-table 
        [table_title] = "table_title" 
        [table_data]  = "Notifications" 
        [searchCallback]= "[service, 'searchNotificationLint',this]" 
        [table_header]= "table_headers" 
        [table_row]   = "table_rows"
        [row_id]      = "row_id"
        [options]     = "formOptions"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="notificationDetail">
    <app-notifications-detail [back]="[this,backToHere]" [detail]="notificationDetail"></app-notifications-detail>
</div>
 
</div>

 