<div [@routerTransition]>
    <app-page-header *ngIf="orderhistoryDetail" [heading]="'Order Detail for '+ orderhistoryDetail.order_id" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="orderhistoryDetail" class="detail">
        <app-orderhistoryallhistory-edit [back]="[this, 'editThis']" [detail]="orderhistoryDetail">
        </app-orderhistoryallhistory-edit>
    </div>
</div>
    <!-- <div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> 
    </div> 
    <div class="card-content">
        <div class="orderhistoryallhistory-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 
                 
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Shipping Info</h2> </div>
                        <div class="card-content">
                                <label>Reciever Name</label>
                                <div name="user">{{detail.buyer_detail.name}}</div>
                                <label>Cell Phone</label>
                                <div name="cell_phone">{{detail.buyer_detail.cell_phone}}</div>
                                <label>Order ID</label>
                                <div name="order_id" >{{detail.order_id}}</div>
                                <label>Address</label>
                                <div name="Address">{{detail.buyer_detail.address}}</div>
                            <div class="col-md-12" *ngIf="!detail.shipping_info">
                                no shipping info
                            </div>
                            <div class="col-md-12" *ngIf="detail.shipping_info">
                                    <ul>
                                        <li *ngFor="let si of detail.shipping_info">
                                                <label>{{si.label}} - {{si.created_date}}</label>
                                        </li>
                                        <label>Awb Receipt</label>
                                        <div name="detail.awb_receipt" >{{detail.awb_receipt}}</div> 
                                        <label>Shipping Services</label>
                                        <div name="detail.shipping_services" >{{detail.shipping_services}}</div>
                                    </ul>
                            </div>
                        
                        </div> 
                    </div>
                 
                </div>
            </div>
     
         </div>
    </div>
    <div class="card-content">
        <div class="orderhistoryallhistory-detail">
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Order Summary </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Product List</label>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product Code</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dp of detail.products">
                                            <td>{{dp.product_code}}</td>
                                            <td>{{dp.product_name}} @ {{dp.sku_value}}</td>
                                            <td>{{dp.quantity}}</td>
                                            <td>{{dp.total_product_price}}</td>
                                    </tr>
                                    <tr *ngFor="let bd of detail.additionalBillings">
                                            <td>{{bd.product_name}}</td>
                                            <td></td>
                                            <td></td>
                               emeb             <td>{{bd.value}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Total Price</td>
                                        <td><div name="sum_total" >{{detail.sum_total}}</div></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>

                            <table>
                                <col style="width: 78%">
                                <thead>
                                    <tr>
                                        <th>Shipping Cost</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Shipping Cost</td>
                                        <td>{{detail.billings.shipping_fee}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>

                            <table>
                                <col style="width: 78%">
                                <thead>
                                    <tr>
                                        <th>Unique Amount</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Unique Amount</td>
                                        <td>{{detail.unique_amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>

                            <table>
                                <col style ="width:78%">
                                <thead>
                                    <tr>
                                        <th> Total Price </th>
                                        <th> Total </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Total Price</td>
                                        <td>{{detail.sum_total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                         </div>
                      </div>
                 </div>
                </div>
            </div>
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-orderhistoryallhistory-edit [back]="[this, 'editThis']" [detail]="detail"></app-orderhistoryallhistory-edit>
</div> -->