<div [@routerTransition]>
  <app-page-header [heading]="'Order history Summary Report'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistorysummary&&orderhistorysummaryDetail==false">
        <app-form-builder-table 
        [searchCallback]  = "[service, 'searchOrderhistorysummaryLint',this]" 
        [table_data]    = "Orderhistorysummary" 
        [tableFormat]   = "tableFormat"
      >
        </app-form-builder-table>
  </div>
      <div *ngIf="orderhistorysummaryDetail">
            <app-orderhistorysummary-detail [back]="[this,backToHere]" [detail]="orderhistorysummaryDetail"></app-orderhistorysummary-detail>
      </div>

  </div>

 