<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Guest'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddGuest(form.value)">
      <div class="col-md-6">
        <label>Full Name</label>
        <form-input name="full_name" [type]="'text'" [placeholder]="'Full Name'"  [(ngModel)]="full_name" required></form-input>

        <label>Point Balance</label>
        <form-input name="point_balance" [placeholder]="'Point Balance'"  [type]="'textarea'" [(ngModel)]="point_balance" required></form-input>

        <label>Member Type</label>
        <form-input name="type" [placeholder]="'Member Type'"  [type]="'text'" [(ngModel)]="type" required></form-input>

        <label>Org ID</label>
        <form-input name="org_id" [placeholder]="'ORG ID'"  [type]="'text'" [(ngModel)]="org_id" required></form-input>

        </div>  
      <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 