<div [@routerTransition]>
       
        <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
        <div class="container-swapper-option" *ngIf="evoucherStockDetail==false&&!errorMessage">
            <span style="margin-right: 10px;">View</span> 
            <div class="button-container">
            <button class="btn toolbar {{swaper}}" (click)="swapClick(true)">
                <span class="fa fa-table"> Requested</span>
            </button>
            <button class="btn toolbar {{!swaper}}" (click)="swapClick(false)">
                <span class="fa fa-table"> Approved</span>
            </button>
            </div>
        </div>

        <div *ngIf="Evouchers && evoucherStockDetail==false && swaper &&!errorMessage">
              <app-form-builder-table 
              [tableFormat] = "tableFormat" 
              [table_data]  = "Evouchers" 
              [searchCallback]= "[service, 'searchEvoucherStockReport',this]" 
              [total_page]="totalPage"
              >
                  
              </app-form-builder-table>
        </div>

        <div *ngIf="Evouchers && evoucherStockDetail==false && !swaper &&!errorMessage">
            <app-form-builder-table 
            [tableFormat] = "tableFormat" 
            [table_data]  = "Evouchers" 
            [searchCallback]= "[service, 'searchEvoucherStockReport2',this]" 
            [total_page]="totalPage"
            >
                
            </app-form-builder-table>
        </div>

        <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
                <i class="fas fa-ban"></i>
                {{errorMessage}}
            </div>
        </div>
      
        <div *ngIf="evoucherStockDetail">
            <app-evoucher-stock-report-detail [back]="[this,backToHere]" [detail]="evoucherStockDetail"></app-evoucher-stock-report-detail>
        </div>

       
      </div>
      
       