<div class="btn-print">
    <button class="btn back_button" (click)="backToHere()"><i class="fa fa-fw fa-angle-left"></i> back</button>
    <button mat-raised-button color="primary" class="btn btn-primary" (click)="prints()">Print Label<i
            class="fa fa-print" aria-hidden="true"></i></button>
</div>
<div class="notif error-message">{{errorMessage}}</div>
<div class="loading" *ngIf='loading'>
    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>
<div class="page-break" id="section-to-print" *ngIf="!loading">
    <div class="_container">
        <div class="content" style="font-family: Cambria">
            <header>
                <strong>PACKING LIST PT. CLS SYSTEM</strong>
            </header>
            <br />
            <div class="body-letter">
                <table cellspacing="0" cellpadding="0" class="top-table">
                    <tr>
                        <td class="title">Tanggal Pengiriman</td>
                        <td class="colon">: </td>
                        <td>{{detail.delivery_date}}</td>
                        <td></td>
                        <td rowspan="4" class="delivery-service">{{detail.delivery_service}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">Nama Kurir</td>
                        <td class="colon">: </td>
                        <td>{{detail.courier_name}}</td>
                    </tr>
                    <tr>
                        <td class="title">Nama Program</td>
                        <td class="colon">: </td>
                        <td>{{titleProgram}}</td>
                    </tr>
                    <tr>
                        <td class="title">Jenis Pengiriman</td>
                        <td class="colon">: </td>
                        <td>{{detail.delivery_method}}</td>
                    </tr>
                </table>

                <!-- <table>
                    <tr>
                      <th rowspan="2" class="row_no" style="width: 36px;">No</th>
                      <th rowspan="2" style="width: 115px;">PO</th>
                      <th rowspan="2" style="width: 115px;">Package ID</th>
                      <th rowspan="2" style="width: 115px;">AWB No</th>
                      <th rowspan="2" style="width: 115px;">Nama</th>
                      <th rowspan="2" style="width: 115px;">Alamat</th>
                      <th rowspan="2" style="width: 115px;">No Telepon</th>
                      <th rowspan="2" style="width:75px;">No Barang</th>
                      <th rowspan="2" style="width:115px;">Nama Barang</th>
                      <th rowspan="2" style="width:64px;">QTY</th>
                      <th rowspan="2" style="width:115px;">Total</th>
                      <th colspan="2">TTD</th>
                    </tr>
                    <tr>
                        <th>Kurir</th>
                        <th>CLS</th>
                    </tr>
                    <tr *ngFor="let data of delivery_list; let i = index;">
                      <td class="row_no">{{i + 1}}.</td>
                      <td>{{data && data.po_no && data.po_no.value ? data.po_no.value : ''}}</td>
                      <td>{{data.order_id}}</td>
                      <td>{{data.delivery_detail.awb_number}}</td>
                      <td>{{data.address_detail.name}}</td>
                      <td>{{data.address_detail.address}}, {{data.address_detail.village_name}}, {{data.address_detail.district_name}}, {{data.address_detail.city_name}}, {{data.address_detail.province_name}}, {{data.address_detail.postal_code}}</td>
                      <td>{{data.address_detail.cell_phone}}</td>
                      <td colspan="4" class="td-products">
                          <div>
                            <tr *ngFor="let product of data.products; let j = index;">
                                <td style="width:81px; border-left: none;">{{j + 1}}.</td>
                                <td style="width:123px;">
                                    {{product.product_name}} 
                                </td>
                                <td style="width:69px;">
                                    {{product.quantity}} 
                                </td>
                                <td style="border-right: none; width:124px;">
                                    {{product.total_product_price}} 
                                </td>
                            </tr>
                          </div>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                </table> -->
                <table class="bottom-table">
                    <tr>
                        <th rowspan="2" class='width-fixed-no'>No.</th>
                        <th rowspan="2" class='width-variable'>PO</th>
                        <th rowspan="2" class='width-variable'>Package ID</th>
                        <th rowspan="2" class='width-variable'>AWB No.</th>
                        <th rowspan="2" class='width-variable'>Nama</th>
                        <th rowspan="2" style="width:200px;">Alamat</th>
                        <th rowspan="2" class='width-variable'>No. Telepon</th>
                        <th rowspan="2" class='width-fixed-no-barang'>No. Barang</th>
                        <th rowspan="2" class='width-fixed'>Nama Barang</th>
                        <th rowspan="2" class='width-fixed-no-barang'>QTY</th>
                        <th rowspan="2" class='width-fixed'>Total</th>
                        <th colspan="2" style="width:120px;">TTD</th>
                    </tr>
                    <tr>
                        <th class='width-fixed'>Kurir</th>
                        <th class='width-fixed'>CLS</th>
                    </tr>
                    <tr *ngFor="let data of delivery_list; let i = index;">
                        <td class='width-fixed-no'>{{i + 1}}.</td>
                        <td class='width-variable'>{{data && data.po_no && data.po_no.value ? data.po_no.value : ''}}</td>
                        <td class='width-variable'>{{data.reference_no}}</td>
                        <td class='width-variable'>{{data.awb_number}}</td>
                        <td class='width-variable'>{{data.destination.name}}</td>
                        <td style="width:200px;">{{data.destination.address}}, {{data.destination.village_name}}, {{data.destination.district_name}}, {{data.destination.city_name}}, {{data.destination.province_name}}, {{data.destination.postal_code}}</td>
                        <td class='width-variable'>{{data.destination.cell_phone}}</td>
                        <td colspan="4" class="td-products">
                            <table class="inside-loop">
                            <tr *ngFor="let product of data.product_list; let j = index;" class="tr-looping">
                                <td class="width-fixed-no-barang looping" style="border-left: none;">{{j + 1}}.</td>
                                <td class="width-fixed looping">
                                    {{product.product_name}} 
                                </td>
                                <td class="width-fixed-no-barang looping">
                                    {{product.quantity}} 
                                </td>
                                <td class="width-fixed looping" style="border-right: none;">
                                    {{product.total_product_price | currency: 'Rp '}} 
                                </td>
                            </tr>
                            </table>
                        </td>
                        <td class='width-fixed'></td>
                        <td class='width-fixed'></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>