<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="email-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Email Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Email ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Sender</label>
                             <div name="sender_email" >{{detail.sender_email}}</div>
                             <label>Recipient</label>
                             <div name="recipient_email" >{{detail.recipient_email}}</div>
                             <label>CC Recipient</label>
                             <div name="CC" >{{detail.CC}}</div>
                             <label>Subject</label>
                             <div name="subject" >{{detail.subject}}</div>
                             <label>Body</label>
                             <div name="body" >{{detail.body}}</div>
                             <label>Email Type</label>
                             <div name="email_type" >{{detail.email_type}}</div>
                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-email-edit [back]="[this, 'editThis']" [detail]="detail"></app-email-edit>
</div>