<div *ngIf="detail && !edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.merchant_name}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="product-detail">

            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Merchant Detail </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Merchant Name</label>
                                <div name="merchant_name">{{detail.merchant_name}}</div>

                                <label>Merchant Username</label>
                                <div name="merchant_username">{{detail.merchant_username}}</div>

                                <label>Merchant Group</label>
                                <div name="merchant_group">{{detail.merchant_group}}</div>

                                <label>Address</label>
                                <div name="address">{{detail.maddress}}</div>
                                
                                <label>Country</label>
                                <div name="country">{{detail.mcountry}}</div>

                                <label>Province</label>
                                <div name="province">{{detail.mprovince}}</div>

                                <label>Region</label>
                                <div name="region_name">{{detail.region_name}}</div>

                                <label>City</label>
                                <div name="city">{{detail.mcity}}</div>

                                <label>Sub District</label>
                                <div name="msubdisctrict">{{detail.msubdistrict}}</div>

                                <label>Postal Code</label>
                                <div name="postal_code">{{detail.mpostal_code}}</div>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h2>Choose Courier</h2>
                            </div>
                            <div class="card-content">
                                <div class="col-md-12">
                                    <label>Courier</label>
                                    <div name="courier"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 text-right"  id="outlet">
                            <a class="btn" routerLink="/administrator/outletsadmin"
                                [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-address-card"></i>
                                List Outlets</a>
                        </div>
                        <div class="col-md-6 text-left" id="add">
                            <a class="btn" routerLink="/administrator/outletsadmin/add"
                                [routerLinkActive]="['router-link-active']"><i class="fa fa-plus"></i> New
                                Outlets</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Merchant &amp; Data</h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>Status</label>
                                <div name="status">{{detail.active}}</div>

                                <label>Contact Person</label>
                                <div name="merchant_name">{{detail.contact_person}}</div>

                                <label>Email</label>
                                <div name="merchant_name">{{detail.email_address}}</div>

                                <label>Work Phone</label>
                                <div name="work_phone">{{detail.work_phone}}</div>

                                <!-- {{form.value | json}}  -->
                            </div>

                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div style="display: flex;justify-content: space-between;align-items: center;">
                            <h2>MDR</h2>
                            <button *ngIf="!editMdr" class="btn" (click)="editMDR()"> edit MDR</button>
                            <button *ngIf="editMdr" class="btn common-button blue-fill" (click)="saveMDR()">Save</button>
                        </div>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12" *ngIf="!editMdr">
                                <!-- <label>MDR type     : {{detail.merchant_mdr.mdr_type}}</label><br/> -->
                                <label>MDR value    : {{detail.merchant_mdr.mdr_value}}</label><span *ngIf="detail.merchant_mdr.mdr_type == 'percentage'"> % </span>
                            </div>
                            <div class="col-md-12" *ngIf="editMdr">
                                <div class="col-md-12" style="display: flex;">
                                    <label class="col-md-6">MDR type    : </label><select class="form-control status-form" [(ngModel)]="formMDR.mdr_type">
                                        <option *ngFor="let data of mdrType" [ngValue]="data.value">{{data.label}}</option>                 
                                      </select>
                                </div>
                                <div class="col-md-12" style="display: flex;">
                                    <label class="col-md-6">MDR value    : </label><input class="form-control col-md-6" type="text" [(ngModel)]="formMDR.mdr_value">
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div style="display: flex;justify-content: space-between;align-items: center;">
                            <h2>ESCROW</h2>
                            <button class="btn" (click)="toEscrow()"> GOTO MERCHANT ESCROW</button>
                            
                        </div>
                        </div>
                    
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div style="display: flex;justify-content: space-between;align-items: center;">
                            <h2>SALES ORDER</h2>
                            <button class="btn" (click)="toSalesOrder()"> GOTO MERCHANT SALES</button>
                            
                        </div>
                        </div>
                    
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Images</h2>
                        </div>
                        <div class="card-content">
                            <div class="  image">
                                <div class="">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Big </h3>
                                        </div>
                                        <div class="card-content" (click)='openImage()'>
                                            <img src="{{detail.image_owner_url}}" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- Diedit -->
                    <div class="row">
                        <!-- <div class="col-md-12"> -->
                        <!-- Button Modals -->
                        <!-- <button class="btn delete-button float-right btn-danger" id="popUp">delete</button></div> -->

                        <div id="myModal" class="modal">
                            <!-- Konten Modal -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>testing</p>
                            </div>
                        </div>

                        
                        <div class="col-md-12">
                            <button class="btn delete-button btn-danger align-items-center"
                                >Hold</button>
                            <button class="btn delete-button float-right btn-danger align-items-center"
                                (click)="deleteThis()">Delete</button>
                            <button class="btn delete-button float-right btn-danger align-items-center"
                            (click)="swapToMerchant()">Swap to Merchant</button>
                        </div>
                        
                    </div>
                    <!-- Sampai Disini -->
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="edit">
    <app-merchant-edit [back]="[this, 'editThis']" [detail]="detail"></app-merchant-edit>
</div>