.pb-framer{
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;
    .progressbar{
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }
    .terminated.progressbar{
        background-color: red;
    }
    .clr-white{
        color: white;
    }
}

.ng-pristine{
    color: black !important;
    width: 100%;
    border-radius: 5px;
    padding: 6px 0px;
}

.card-detail{
    >.card-header{
        position: relative;
        min-height: 48px;

        .back_button{
            position: absolute;
            margin-top: -4px;
            margin-left: -5px;
            background-color: transparent;
            color: #555;
            height: 30px;
            
            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            i{
                font-weight: bold;
            }
        }
        .save_button{
            position: absolute;
            top: 7px;
            background-color: #3498db;
            color: #fff;
            height: 30px;
            
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            i{
                font-weight: bold;
            }
            right: 10px;
        }
        .save_button.true{
            background-color: #e67e22;
        }
    }
    .card-content{
        padding: 15px;
       
        >.col-md-12{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
    h1{
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }

    .rounded-btn {
        -webkit-border-radius: 20px;
        border-radius: 0.25rem;
        color: white;
        font-size: 18px;
        line-height: 40px;
        padding: 0 15px;
        background: #56a4ff;
        margin: 10px 10px 10px 0px;
    }
    .rounded-btn:hover {
        background: darken(#56A4FF, 15%);
        // border: 2px solid blue;
        outline: none;
    }
    
    .rounded-btn-danger {
        -webkit-border-radius: 30px;
        border-radius: 0.25rem;
        color: white;
        font-size: 18px;
        line-height: 40px;
        padding: 0 15px;
        background: #dc3545;
    }
    .rounded-btn-danger:hover {
        background: darken(#dc3545, 15%);
        // border: 2px solid blue;
        outline: none;
    }
    
    .product-detail{
       
        label{
            margin-top: 10px;
        }
        label+div{
            background: #f0f0f0;
            font-weight:norma;
            padding: 0px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            min-height: 27px;
            font-size: 12px;
            color: #666;
        }
        .image{
            overflow: hidden;
            >div{
                // width: 33.3333%;
                width: 100%;
                padding: 5px;
                float: left;
            }
            .card-header{
                background-color: #f0f0f0;
            }
            h3{
                font-size: 12px;
                margin-bottom: 0px;
                color: #555;
            }
            .card-content{
                overflow: hidden;
                width: 100%;
                height: auto;
                padding: 15px;
                img{
                    max-width: 100%;
                    width: 100%;
    
                }
                >.col-md-12{
                    padding-left: opx;
                    padding-right: 0px;
                }
            }
        }

        .card-header{ 
            background-color: #555;
            h2{
                color: white;
                font-size: 15px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;
        
            }
        }
    }
}

img.resize {
    max-width: 50%;
    max-height: 50%;
}

#region{
    padding: 0px 0px 15px 0px;
}