<div [@routerTransition]>

    <app-page-header [heading]="'Add New Member'" [icon]="'fa-table'"></app-page-header>

    <div *ngIf="!showPasswordPage">
        <div class="card card-detail">
            <div class="card-header">
                <!-- <button class="btn save_button" (click)="formSubmitAddMember()" type="submit"
                    [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-save"
                        style="transform: translate(-3px, -1px)"></i>Submit Single Member</button> -->
                <button class="btn back_button" (click)="backTo()"><i class="fa fa-fw fa-angle-left"></i>Back</button>
            </div>

            <div class="card-content">
                <div class="member-detail">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2 *ngIf="programType != 'custom_kontraktual'">Data Pemilik &amp; Data Toko</h2>
                                    <h2 *ngIf="programType == 'custom_kontraktual'">Data Entitas</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">

                                        <label>ID Pelanggan <span class="star-required">*</span></label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.id_pel" [placeholder]="'ID Pelanggan'" autofocus
                                            required>
                                        </form-input>
                                        <div class="text-required" *ngIf="warnIDPelanggan">ID Pelanggan wajib diisi</div>

                                        <div *ngIf="programType == 'reguler'">
                                            <label>Program/Group</label>
                                            <form-input name="id" [type]="'text'" [(ngModel)]="form.description" [placeholder]="'Program/Group'" autofocus
                                                required>
                                            </form-input>
                                        </div>
                                        
                                        <label *ngIf="programType == 'custom_kontraktual'">Nama PIC <span class="star-required">*</span></label>
                                        <label *ngIf="programType != 'custom_kontraktual'">Nama Pemilik <span class="star-required">*</span></label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.nama_pemilik" [placeholder]="'Nama Pemilik'" autofocus
                                            required>
                                        </form-input>
                                        <div class="text-required" *ngIf="warnNamaPemilik && programType == 'custom_kontraktual'">Nama PIC wajib diisi</div>
                                        <div class="text-required" *ngIf="warnNamaPemilik && programType != 'custom_kontraktual'">Nama Pemilik wajib diisi</div>

                                        <label *ngIf="programType == 'custom_kontraktual'">No. Telp PIC <span class="star-required">*</span></label>
                                        <label *ngIf="programType != 'custom_kontraktual'">No. Telp Pemilik <span class="star-required">*</span></label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.telp_pemilik" [placeholder]="'No. Telp Pemilik'" autofocus
                                            required>
                                        </form-input>
                                        <div class="text-required" *ngIf="warnTelpPemilik && programType == 'custom_kontraktual'">No. Telp PIC wajib diisi</div>
                                        <div class="text-required" *ngIf="warnTelpPemilik && programType != 'custom_kontraktual'">No. Telp Pemilik wajib diisi</div>

                                        <label *ngIf="programType == 'custom_kontraktual'">No. WA PIC</label>
                                        <label *ngIf="programType != 'custom_kontraktual'">No. WA Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.no_wa_pemilik" [placeholder]="'No. WA Pemilik'" autofocus
                                            required>
                                        </form-input>
                                        <div class="text-required" *ngIf="warnWAPemilik && programType == 'custom_kontraktual'">No. WA PIC wajib diisi</div>
                                        <div class="text-required" *ngIf="warnWAPemilik && programType != 'custom_kontraktual'">No. WA Pemilik wajib diisi</div>

                                        <div *ngIf="programType == 'reguler'">
                                            <label>Email Pelanggan</label>
                                            <form-input name="email" [type]="'text'" [(ngModel)]="form.email" [placeholder]="'Email Pelanggan'" autofocus
                                                required>
                                            </form-input>
                                        </div>

                                        <div *ngIf="programType != 'custom_kontraktual'">
                                            <label>Nama Toko</label>
                                            <form-input name="id" [type]="'text'" [(ngModel)]="form.nama_toko" [placeholder]="'Nama Toko'" autofocus
                                                required>
                                            </form-input>
                                        </div>

                                        <div *ngIf="programType == 'custom_kontraktual'">
                                            <label>Nama Entitas</label>
                                            <form-input name="id" [type]="'text'" [(ngModel)]="form.nama_toko" [placeholder]="'Nama Entitas'" autofocus
                                                required>
                                            </form-input>
                                        </div>

                                        <label>Nama Distributor</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.nama_distributor" [placeholder]="'Nama Distributor'" autofocus
                                            required>
                                        </form-input>

                                        <div *ngIf="programType != 'custom_kontraktual'">
                                            <label>Alamat Toko</label>
                                            <form-input name="id" [type]="'textarea'" [(ngModel)]="form.alamat_toko" [placeholder]="'Alamat Toko'" autofocus
                                                required>
                                            </form-input>
                                        </div>

                                        <div *ngIf="programType == 'custom_kontraktual'">
                                            <label>Alamat Entitas</label>
                                            <form-input name="id" [type]="'textarea'" [(ngModel)]="form.alamat_toko" [placeholder]="'Alamat Entitas'" autofocus
                                                required>
                                            </form-input>
                                        </div>

                                        <!-- <label>No. KTP Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.ktp_pemilik" [placeholder]="'No. KTP Pemilik'" autofocus
                                            required>
                                        </form-input> -->

                                        <!-- <label>No. NPWP Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.npwp_pemilik" [placeholder]="'No. NPWP Pemilik'" autofocus
                                            required>
                                        </form-input> -->

                                        <label>Alamat Rumah</label>
                                        <form-input name="id" [type]="'textarea'" [(ngModel)]="form.alamat_rumah" [placeholder]="'Alamat Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <label>Provinsi Rumah</label>
                                        <!-- <form-input name="id" [type]="'text'" [(ngModel)]="form.provinsi_rumah" [placeholder]="'Provinsi Rumah'" autofocus
                                            required>
                                        </form-input> -->

                                        <div class="ng-autocomplete">
                                            <ng-autocomplete 
                                              [data]="dataProvince"
                                              [(ngModel)]="form.provinsi_rumah"
                                              [searchKeyword]="keywordProvince"
                                              (selected)='selectEvent($event, "province")'
                                              (inputChanged)='inputRegion($event, "province")'
                                              [itemTemplate]="templateProvince"
                                              [placeHolder]="placeholderProvince"
                                              [isLoading]="loadingProvince"
                                              >                                 
                                            </ng-autocomplete>
                                            
                                            <ng-template #templateProvince let-item>
                                                <a [innerHTML]="item.province"></a>
                                            </ng-template>
                                        </div>

                                        <label>Kabupaten/Kota Rumah</label>
                                        <!-- <form-input name="id" [type]="'text'" [(ngModel)]="form.kota_rumah" [placeholder]="'Kabupaten/Kota Rumah'" autofocus
                                            required>
                                        </form-input> -->
                                        <div class="ng-autocomplete">
                                            <ng-autocomplete 
                                              [data]="dataCity"
                                              [(ngModel)]="form.kota_rumah"
                                              [searchKeyword]="keywordCity"
                                              (selected)='selectEvent($event, "city")'
                                              (inputChanged)='inputRegion($event, "city")'
                                              [itemTemplate]="templateCity"
                                              [placeHolder]="placeholderCity"
                                              [isLoading]="loadingCity"
                                              [disabled] = "programType != 'reguler' && !province_code">                                 
                                            </ng-autocomplete>
                                            
                                            <ng-template #templateCity let-item>
                                                <a [innerHTML]="item.city"></a>
                                            </ng-template>
                                        </div>

                                        <label>Kecamatan Rumah</label>
                                        <!-- <form-input name="id" [type]="'text'" [(ngModel)]="form.kecamatan_rumah" [placeholder]="'Kecamatan Rumah'" autofocus
                                            required>
                                        </form-input> -->
                                        <div class="ng-autocomplete">
                                            <ng-autocomplete 
                                              [data]="dataSubDistrict"
                                              [(ngModel)]="form.kecamatan_rumah"
                                              [searchKeyword]="keywordSubDistrict"
                                              (selected)='selectEvent($event, "subdistrict")'
                                              (inputChanged)='inputRegion($event, "subdistrict")'
                                              [itemTemplate]="templateSubDistrict"
                                              [placeHolder]="placeholderSubDistrict"
                                              [isLoading]="loadingSubDistrict"
                                              [disabled] = "programType != 'reguler' && !city_code">                                 
                                            </ng-autocomplete>
                                            
                                            <ng-template #templateSubDistrict let-item>
                                                <a [innerHTML]="item.subdistrict"></a>
                                            </ng-template>
                                        </div>

                                        <label>Desa/Kelurahan Rumah</label>
                                        <!-- <form-input name="id" [type]="'text'" [(ngModel)]="form.kelurahan_rumah" [placeholder]="'Desa/Kelurahan Rumah'" autofocus
                                            required>
                                        </form-input> -->
                                        <div class="ng-autocomplete">
                                            <ng-autocomplete 
                                              [data]="dataVillage"
                                              [(ngModel)]="form.kelurahan_rumah"
                                              [searchKeyword]="keywordVillage"
                                              (selected)='selectEvent($event, "village")'
                                              (inputChanged)='inputRegion($event, "village")'
                                              [itemTemplate]="templateVillage"
                                              [placeHolder]="placeholderVillage"
                                              [isLoading]="loadingVillage"
                                              [disabled] = "programType != 'reguler' && !subdistrict_code">                                 
                                            </ng-autocomplete>
                                            
                                            <ng-template #templateVillage let-item>
                                                <a [innerHTML]="item.village"></a>
                                            </ng-template>
                                        </div>

                                        <label>Kode Pos Rumah</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.kode_pos_rumah" [placeholder]="'Kode Pos Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <div class="form-group">
                                            <label>Hadiah Dikuasakan</label>
                                            <form-select [(ngModel)]="form.hadiah_dikuasakan" [data]="kuasa_option"></form-select>
                                        </div>

                                        <div class="form-group" *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                            <label>Group</label>
                                            <form-select [(ngModel)]="form.description" [data]="group_desc"></form-select>
                                        </div>

                                        <div class="form-group" *ngIf="programType == 'custom_kontraktual'">
                                            <label>Jabatan</label>
                                            <form-input name="cluster" [type]="'text'" [(ngModel)]="form.description" [placeholder]="'Group'" autofocus
                                                required>
                                            </form-input>
                                        </div>

                                        <div *ngIf="programType != 'reguler'">
                                            <label>Program/Cluster</label>
                                            <form-input name="cluster" [type]="'text'" [(ngModel)]="form.cluster" [placeholder]="'Program/Cluster'" autofocus
                                                required>
                                            </form-input>
                                        </div>

                                        <button class="btn save-button" (click)="formSubmitAddMember()" type="submit"
                                            [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-save"
                                                style="transform: translate(-3px, -1px)"></i>Submit</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <input #addBulk type="file" style="display:none" (change)="onFileSelected($event)"
                                />

                                <div class="card-header">
                                    <h2>Add Member Bulk</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <label>Upload Your File Here</label>
                                        <div class="member-bulk-update-container">
                                            <span *ngIf="selectedFile && prodOnUpload == false">{{selectedFile.name}}</span>
                                        </div>

                                        <div class="form-group uploaded" *ngIf="prodOnUpload == false && startUploading == true && cancel == false">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="container-two-button">
                                            <div class="img-upload" *ngIf="!selectedFile; else upload_image">
                                                <button class="btn btn-upload" (click)="addBulk.click()">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span>upload</span>
                                                </button>
                                            </div>
    
                                            <div class="img-upload" *ngIf="selectedFile">
                                                <button class="btn btn-submit" (click)="updateDataBulk()">
                                                    <i class="fa fa-fw fa-save"></i>
                                                    <span>submit</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <ng-template #upload_image>
                                        <button class="btn btn-upload" (click)="addBulk.click()">
                                            <i class="fa fa-fw fa-upload"></i>
                                            <span>re-upload</span>
                                        </button>
                                    </ng-template>

                                    <div class="col-md-12 col-sm-12 error-msg-upload">
                                        <div *ngIf="errorFile"><mark>Error: {{errorFile}}</mark></div>                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Member &amp; Status Member</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">

                                        <label>Password</label>
                                        <form-input name="password" [type]="'password'" [placeholder]="'Password'"
                                            [(ngModel)]="form.password" autofocus required>
                                        </form-input>

                                        <label>Email</label>
                                        <form-input name="email" [(ngModel)]="form.email" [type]="'text'" [placeholder]="'Email'" autofocus
                                            required>
                                        </form-input>

                                        <label>Cell Phone</label>
                                        <form-input name="cell_phone" [type]="'number'" [(ngModel)]="form.cell_phone" [placeholder]="'Cell Phone'"
                                            autofocus required>
                                        </form-input>

                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- <form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)">
                <div class="row">
                    <div class="col-md-6">
                        <label>Full Name</label>
                        <form-input name="full_name" [type]="'text'" [placeholder]="'Full Name'" [(ngModel)]="full_name"
                            required></form-input>

                        <label>Email</label>
                        <form-input name="email" [placeholder]="'Email'" [type]="'text'" [(ngModel)]="email" required>
                        </form-input>

                        <label>Password</label>
                        <form-input name="password" [placeholder]="'Password'" [type]="'password'"
                            [(ngModel)]="password" required></form-input>

                    
                        <label>Cell Phone</label>
                        <form-input name="cell_phone" [placeholder]="'Cell Phone'" [type]="'number'"
                            [(ngModel)]="cell_phone" required></form-input>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>City</label>
                        <form-input name="mcity" [placeholder]="'City'" [type]="'text'" [(ngModel)]="mcity" required>
                        </form-input>
                    </div>

                    <div class="col-md-6">
                        <label>State</label>
                        <form-input name="mstate" [placeholder]="'State'" [type]="'text'" [(ngModel)]="mstate" required>
                        </form-input>

                        <label>Country</label>
                        <form-input name="mcountry" [placeholder]="'Country'" [type]="'text'" [(ngModel)]="mcountry"
                            required></form-input>

                        <label>Address</label>
                        <form-input name="maddress1" [placeholder]="'Address'" [type]="'textarea'"
                            [(ngModel)]="maddress1" required></form-input>

                        <label>Post Code</label>
                        <form-input name="mpostcode" [placeholder]="'Post Code'" [type]="'number'"
                            [(ngModel)]="mpostcode" required></form-input>

                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="gender" [(ngModel)]="gender">
                                <option *ngFor="let d of gender_type" value="{{d.value}}">{{d.label}}</option>
                            </select>
                        </div>


                        <label>Marital Status</label>
                        <form-select name="marital_status" [(ngModel)]="marital_status" [data]="marital_status_type">
                        </form-select>

                        <label>Member Type</label>
                        <form-select name="type" [(ngModel)]="type" [data]="member_type"></form-select>
                    </div>
                </div>

            </form> -->
        </div>
    </div>

    <div *ngIf="showPasswordPage">
        <app-show-password [back]="[this, 'showThisPassword']" [detail]="data"></app-show-password>
    </div>