<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="promocode-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Promo Code Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Promotion ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Promotion ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
             
                             <label>Name</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="detail.name" autofocus required></form-input>    
                            
                             <label>Promo Code</label>
                             <form-input name="promo_code" [type]="'text'" [placeholder]="'Promo Code'"  [(ngModel)]="detail.promo_code" autofocus required></form-input>
                             
                             <label>Description</label>
                             <form-input name="promo_description" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="detail.promo_description" autofocus required></form-input>  
                             
                             <label>Value</label>
                             <form-input name="value" [type]="'text'" [placeholder]="'Value'"  [(ngModel)]="detail.value" autofocus required></form-input>  
                             
                             <label>Rule ID</label>
                             <form-input name="rule_id" [type]="'text'" [placeholder]="'Rule ID'"  [(ngModel)]="detail.rule_id" autofocus required></form-input>    

                             <label>Type</label>
                             <form-input name="type" [type]="'text'" [placeholder]="'Type'"  [(ngModel)]="detail.type" autofocus required></form-input>    

                             <label>Category</label>
                             <form-input name="category" [type]="'text'" [placeholder]="'Category'"  [(ngModel)]="detail.category" autofocus required></form-input>    

                             <label>Start Date</label>
                             <form-input name="start_date" [type]="'text'" [placeholder]="'Start Date'"  [(ngModel)]="detail.start_date" autofocus required></form-input>
                             
                             <label>End Date</label>
                             <form-input name="end_date" [type]="'text'" [placeholder]="'End Date'"  [(ngModel)]="detail.end_date" autofocus required></form-input>   
                             
                             <label>Active</label>
                             <form-input name="active" [type]="'text'" [placeholder]="'Active'"  [(ngModel)]="detail.active" autofocus required></form-input>    

                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
            </div>
     
         </div>
    </div>
    
</div>
