<div *ngIf="tabs" class="tabber">
    <div *ngFor="let tab of tabs; let i = index"  class="button active_{{tab.active}}" (click)="onTabWasClicked(i, tab)">
      <span class="rounded-left"></span>
      <span class="value">{{tab.val}}</span>
      <span class="rounded-right"></span>
    </div>
</div>