.tabber {
  text-transform: capitalize;
  width: 100%;
  overflow: hidden;
  .button {
    color: white;
    display: block;
    float: left;
    cursor: pointer;
    // margin-left: -50px;
    flex-direction: column;

    .rounded-left {
      height: 40px;
      width: 0;
      display: flex;
      float: left;
      justify-content: center;
      align-items: center;
    }

    .value {
      height: 40px;
      padding: 5px 15px;
      display: flex;
      float: left;
      justify-content: center;
      align-items: center;
    }

    .rounded-right {
      height: 40px;
      width: 0;
      display: flex;
      float: left;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }
  }

  .button.active_1 {
    color: #333;
    .rounded-left {
      background-image: url(/assets/images/bg-tab-left.png);
      background-position: -1px 0px;
      background-size: auto 42px;
      background-repeat: no-repeat;
      height: 40px;
      width: 48px;
      display: flex;
      float: left;
      justify-content: center;
      align-items: center;
    }

    .value {
      background-color: #f7f7f7;
    }
    .rounded-right {
      background-image: url(/assets/images/bg-tab.png);
      background-position: -34px 0px;
      background-size: auto 42px;
      background-repeat: no-repeat;
      height: 40px;
      width: 48px;
      display: flex;
      float: left;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }
  }
  .button:first-child {
    margin-left: 0px;
    .rounded-left {
      display: none;
    }
  }
}
