<div [@routerTransition]>

    <app-page-header [heading]="'Update PO Number'" [icon]="'fa-table'"></app-page-header>

    <div>
        <div class="card card-detail">
            <div class="card-header">
                <button class="btn back_button" (click)="backTo()"><i class="fa fa-fw fa-angle-left"></i>Back</button>
            </div>

            <div class="card-content">
                <div class="member-detail">
                    <div class="row">
                      
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <input #updateBulk type="file" style="display:none" (change)="onFileSelected($event)"
                                />

                                <div class="card-header">
                                    <h2>Update PO</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <label>Upload Your File Here</label>
                                        <div class="member-bulk-update-container">
                                            <span *ngIf="selectedFile && prodOnUpload == false">{{selectedFile.name}}</span>
                                        </div>

                                        <div class="form-group uploaded" *ngIf="prodOnUpload == false && startUploading == true && cancel == false">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="container-two-button">
                                            <div class="img-upload" *ngIf="!selectedFile; else upload_image">
                                                <button class="btn btn-upload" (click)="updateBulk.click()">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span>upload</span>
                                                </button>
                                            </div>
    
                                            <div class="img-upload" *ngIf="selectedFile">
                                                <button class="btn btn-submit" (click)="updateDataBulk()">
                                                    <i class="fa fa-fw fa-save"></i>
                                                    <span>submit</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <ng-template #upload_image>
                                        <button class="btn btn-upload" (click)="updateBulk.click()">
                                            <i class="fa fa-fw fa-upload"></i>
                                            <span>re-upload</span>
                                        </button>
                                    </ng-template>

                                    <div class="col-md-12 col-sm-12 error-msg-upload">
                                        <div *ngIf="errorFile"><mark>Error: {{errorFile}}</mark></div>                       
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>