$backgroundColorHeader: #555;
.card-detail {
    > .card-header {
        position: relative;

        .back_button {
            position: absolute;
            margin-top: -4px;
            margin-left: -10px;
            background-color: transparent;
            color: #555;
            height: 30px;

            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;

            i {
                font-weight: bold;
            }
        }

        .edit_button {
            position: absolute;
            top: 7px;
            background-color: #555;
            color: #fff;
            height: 30px;

            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-weight: bold;
            }

            right: 10px;
        }
    }

    .card-content {
        padding: 15px;

        > .col-md-12 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    // .image{
    //     h3{
    //         font-size: 12px;
    //     }
    //     .card-content{
    //         img{
    //             max-width: 100%;
    //             width: 100%;

    //         }
    //     }
    // }
    h1 {
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }

    .orderhistorysummary-detail {
        label {
            margin-top: 10px;
        }

        label + div {
            background: #f0f0f0;
            font-weight: norma;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            min-height: 27px;
            font-size: 12px;
            color: #666;
        }

        .card-header {
            background-color: #555;

            h2 {
                color: white;
                font-size: 15px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;

            }
        }
    }
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;

    thead {
        background-color: $backgroundColorHeader;

        th {
            color: white;
            padding: 10px;
            border: 1px solid #ccc;

        }
    }

    tbody {
        td {
            padding: 10px;
            border: 1px solid #ccc;

        }
    }

}
