.pb-framer{
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;
    .progressbar{
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }
    .terminated.progressbar{
        background-color: red;
    }
    .clr-white{
        color: white;
    }
}