<div *ngIf="!edit">
    <div class="card card-detail">
        <div class="card-header">
            <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
            <div class="edit_button">
                <button class="btn btn-right" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i>edit</button>
            </div>
        </div>
        <div class="card-content" *ngIf="!errorMessage">
            <div class="member-detail">
        
                <div class="row">

                    <!-- <div class="col-md-4 col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header"><h2>Dokumen Tambahan</h2></div>
                            <div class="card-content">
                                <div class="col-md-12">             
    
                                    <label class="label-bold">Foto BAST</label>
                                    <ng-container *ngIf="detail.additional_info && detail.additional_info.bast && isArray(detail.additional_info.bast) && detail.additional_info.bast.length > 0; else empty_image">
                                        <div class="member-detail-image-container"  *ngFor="let itemImage of detail.additional_info.bast; let i = index">
                                            <ng-container>
                                                <a href={{itemImage.pic_file_name}} target="_blank">
                                                    <img src={{itemImage.pic_file_name}} class="member-detail-image" />
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(itemImage.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                    </span>
                                                </div>
    
                                                <br/>
                                            </ng-container>
                                        </div>
                                    </ng-container>
    
                                    <ng-template #empty_image>
                                        <div>
                                            empty
                                        </div>
                                    </ng-template>
    
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-md-4 col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header"><h2>Dokumen Tambahan</h2></div>
                            <div class="card-content">
                                <div class="col-md-12">             
    
                                    <ng-template #empty_image>
                                        <div>
                                            empty
                                        </div>
                                    </ng-template>
    
    
                                    <label class="label-bold">Foto Surat Kuasa</label>
                                    <ng-container *ngIf="detail.additional_info && detail.additional_info.surat_kuasa && isArray(detail.additional_info.surat_kuasa) && detail.additional_info.surat_kuasa.length > 0; else empty_image">
                                        <div class="member-detail-image-container"   *ngFor="let itemImage of detail.additional_info.surat_kuasa; let i = index">
                                            <ng-container>
                                                <a href={{itemImage.pic_file_name}} target="_blank">
                                                    <img src={{itemImage.pic_file_name}} class="member-detail-image" />
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(itemImage.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                    </span>
                                                </div>
                                                <br/>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-md-4 col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header"><h2>Dokumen Tambahan</h2></div>
                            <div class="card-content">
                                <div class="col-md-12">             
    
                                    <ng-template #empty_image>
                                        <div>
                                            empty
                                        </div>
                                    </ng-template>
    
    
                                    <label class="label-bold">Foto Surat Pernyataan</label>
                                    <ng-container *ngIf="detail.additional_info && detail.additional_info.surat_pernyataan && isArray(detail.additional_info.surat_pernyataan) && detail.additional_info.surat_pernyataan.length > 0; else empty_image">
                                        <div class="member-detail-image-container"   *ngFor="let itemImage of detail.additional_info.surat_pernyataan; let i = index">
                                            <ng-container>
                                                <a href={{itemImage.pic_file_name}} target="_blank">
                                                    <img *ngIf="checkFileType(itemImage.pic_file_name) == 'image'" src={{itemImage.pic_file_name}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(itemImage.pic_file_name) == 'document'"
                                                        [src]="itemImage.pic_file_name"
                                                        [render-text]="false"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(itemImage.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                    </span>
                                                </div>
                                                <br/>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
         
             </div>
        </div>
        <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
                <i class="fas fa-ban"></i>
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>

<div *ngIf="edit">
    <app-additional-document-edit [back]="[this, 'editThis']" [detail]="memberDetail"></app-additional-document-edit>
</div>
