// ._container{
//     padding: 20px;
//     padding-right: 10px;
// }

.-container{
    padding-top:20px;
}

.card{
    padding:10px;
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.inputs{
    display:flex;
    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding:0 !important;
    }
}


#request{
    font-size: 11px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.amount{
   position: relative;
   left: 120px;
   bottom: 80px;
   padding-bottom: 30;
   height: 10px;
}

.alert{
    text-align: center;
    width: 100%;
    font-size:20px;
    font-weight: bold;
    background-color:red;
    color:white;
}
.modal.false {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  
  .modal.true {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    
    /* Location of the box */
    left: 0px;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 1;
    /* Fallback color */
    // background-color: white;
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin-left: 256px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top:200px;
    padding: 0;
    // border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
  }
  /* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .forgot {
    float: right;
    /* text-align: right; */
    margin-right: 35px;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-footer{
      .btn-primary{
          width: 100%;
      }
  }
  