<div >
      <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
      <div *ngIf="SalesRedemption && invoiceDetail==false && !errorMessage && mci_project && programType!='custom_kontraktual'">
            <app-form-builder-table
            [searchCallback]= "[service, 'searchCompleteFinanceInvoiceReport',this]"
            [tableFormat]="tableFormat2"
            [table_data]="SalesRedemption"
            [total_page]="totalPage"
            >
      
            </app-form-builder-table>
      </div>
      <div *ngIf="SalesRedemption && invoiceDetail==false && !errorMessage && !mci_project && programType!='custom_kontraktual'">
            <app-form-builder-table
            [searchCallback]= "[service, 'searchFinanceInvoiceReport',this]"
            [tableFormat]="tableFormat"
            [table_data]="SalesRedemption"
            [total_page]="totalPage"
            >
      
            </app-form-builder-table>
      </div>
      <div *ngIf="SalesRedemption && invoiceDetail==false && !errorMessage && !mci_project && programType=='custom_kontraktual'">
            <app-form-builder-table
            [searchCallback]= "[service, 'searchFinanceInvoiceReport',this]"
            [tableFormat]="tableFormat3"
            [table_data]="SalesRedemption"
            [total_page]="totalPage"
            >
      
            </app-form-builder-table>
      </div>
      <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
            <i class="fas fa-ban"></i>
            {{errorMessage}}
            </div>
      </div>
      <div *ngIf="invoiceDetail">
            <app-finance-invoice-report-detail [back]="[this,backToHere]" [detail]="invoiceDetail"></app-finance-invoice-report-detail>
      </div>
  
    </div>
  