<div [@routerTransition]>

      <!-- <app-page-header [heading]="'E-Voucher'" [icon]="'fa-table'"></app-page-header> -->
      <!-- <h3 style="color: white">File Upload</h3>
      <div class="col-md-3 col-sm-3">
            <div class="pb-framer">
                  <div [ngStyle]="{'width.%': progressBar}">

                  </div>
                  <span *ngIf="progressBar < 58 && progressBar > 0">
                        {{cancel?'terminated':'Upload Progress: '+ progressBar +'%'}} </span>
                  <span class="clr-white" *ngIf="progressBar>58">
                        {{cancel?'terminated':'Upload Progress: '+ progressBar+'%'}} </span>
            </div>

      </div> -->
      <div class="col-md-3 col-sm-3">
            <div *ngIf="errorFile" class="errorLabel"><mark>Error : {{errorFile}}</mark></div>
      </div>
      <!-- <input class="choose-file" type="file" (change)="onFileSelected($event)" accept=".sql,.csv,.xlsx" style="color: white"/>
            <button class="btn rounded-btn" (click)="onUpload()" >Upload</button>
            <button class="btn rounded-btn-danger" (click)="cancelThis()" >Cancel</button> -->
      <br><br>
      <div *ngIf="Evouchers&&evoucherDetail==false&&!errorMessage">
            <app-form-builder-table [table_data]="Evouchers" [searchCallback]="[service,'searchEvoucherSummaryReport',this]"
                  [tableFormat]="tableFormat" [total_page]="totalPage">

            </app-form-builder-table>
      </div>
      <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
                  <i class="fas fa-ban"></i>
                  {{errorMessage}}
            </div>
      </div>
      <div *ngIf="evoucherDetail">
            <!-- <app-evoucher-detail [back]="[this, backToHere]" [detail]="evoucherDetail"></app-evoucher-detail> -->
            <app-evoucher-detail></app-evoucher-detail>

      </div>


</div>

<div id="myModal" class="modal {{popUpForm}}">
      <!-- Modal content -->
      <div class="modal-content">
            <div class="modal-header">
                  <span class="close" (click)="popUpClose()">&times;</span>
            </div>
            <div class="modal-body">
                  <p>How many vouchers will be disabled?</p>
                  <p>Inactive Stock : {{data.qty_inactive}} | Available Stock : {{data.qty_available}}</p>
                  <input id="inputan" type="number" [(ngModel)]="inputedVoucher">
                  <br/>
                  <button class="btn btn-primary" (click)="approval(data)">Active Stock</button>
                  <button class="btn btn-secondary" (click)="disabled(data)" style="margin-left: 20px;">Inactive Stock</button>
                  
            </div>
            <br/>
            <div class="modal-body">
                  <h3> How To Use?</h3>
                  <p> Jika ingin mengcancel stock voucher, silahkan input angka dan tekan button "<strong>Inactive
                          Stock "</strong></p>
                  <p>Jika ingin mengaktifkan stock voucher yang tersisa, silahkan input angka tekan button
                      "<strong>Active Stock"</strong></p>
            </div>
            <div class="modal-body">
                  <button class="btn btn-color" (click)="approveAllClicked(data)">Activate All Vouchers</button>
            </div>
            <div class="modal-footer">

            </div>
      </div>
</div>