<div [@routerTransition]>
  <app-page-header [heading]="'Error Report'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Reporterror&&reporterrorDetail==false">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchReporterrorLint',this]" 
        [tableFormat]="tableFormat"
        [table_data]="Reporterror"
        [total_page]="totalPage"
        >
        </app-form-builder-table>
  </div>
      <div *ngIf="reporterrorDetail">
            <app-reporterror-detail [back]="[this,backToHere]" [detail]="reporterrorDetail"></app-reporterror-detail>
      </div>

  </div>
