<div class="card card-detail">
    <!-- <ng-container *ngIf="allBast.length > 0"> -->
        <!-- <ng-container *ngFor="let item of allBast; let i = index"> -->
            <input type="file"  (change)="onFileSelected($event, 'bast', 0)" 
                accept="image/x-png,image/gif,image/jpeg,image/jpeg,application/pdf" style="display:none;" id="bast"/>
        <!-- </ng-container> -->
    <!-- </ng-container> -->

    <!-- <ng-container *ngIf="allSuratKuasa.length > 0"> -->
        <!-- <ng-container *ngFor="let item of allSuratKuasa; let i = index"> -->
            <input type="file"  (change)="onFileSelected($event, 'suratKuasa', 0)" 
                accept="image/x-png,image/gif,image/jpeg,image/jpeg,application/pdf" style="display:none;" id="suratKuasa"/>
        <!-- </ng-container> -->
    <!-- </ng-container> -->
        
            <input type="file"  (change)="onFileSelected($event, 'others')" 
                accept="image/x-png,image/gif,image/jpeg,image/jpeg,application/pdf" style="display:none;" id="others"/>

            <input type="file"  (change)="onFileSelected($event, 'receipt')" 
                accept="image/x-png,image/gif,image/jpeg,image/jpeg,application/pdf" style="display:none;" id="receipt"/>
    
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <!-- <h1>ID Pelanggan : {{order.username}}</h1> -->
        <!-- <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button> -->
    </div>
    <div class="card-content">
        <div class="member-detail">
            <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row">

                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Order ID : {{order.order_id}}</h2>
                        </div>
                        <div class="card-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">             
                                <label class="label-bold">Foto BAST</label>

                                    <div class="member-detail-image-container">
                                        <div *ngIf="order.additional_info && order.additional_info.bast && validURL(order.additional_info.bast.pic_file_name) && !loadingFotoBAST" class="img-upload">
                                            <img *ngIf="checkFileType(order.additional_info.bast.pic_file_name) == 'image'" src={{order.additional_info.bast.pic_file_name}} class="member-detail-image" />
                                            <pdf-viewer 
                                                *ngIf="checkFileType(order.additional_info.bast.pic_file_name) == 'document'"
                                                [src]="order.additional_info.bast.pic_file_name"
                                                [render-text]="false"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>                                            
                                            <!-- <img src={{order.additional_info.bast.pic_file_name}} class="member-detail-image" /> -->
                                        </div>
    
                                        <div class="form-group uploaded" *ngIf="loadingFotoBAST">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                        </div>
    
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="openUpload('bast')">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="order.additional_info && order.additional_info.bast && validURL(order.additional_info.bast.pic_file_name); else upload_image">Ubah</span>
                                            </button>
                                        </div>
                                        <div *ngIf="order.additional_info && order.additional_info.bast && validURL(order.additional_info.bast.pic_file_name)" style="text-align: center;">
                                            <span>
                                                <b>Last updated : {{order.additional_info.bast.created_date}}</b>
                                            </span>
                                        </div>
               
                                    </div>
                                
                            </div>


                            <div class="col-md-6 col-sm-12">             
                                <label class="label-bold">Foto Surat Kuasa</label>

                                    <div class="member-detail-image-container">
                                        <div *ngIf="order.additional_info && order.additional_info.surat_kuasa && validURL(order.additional_info.surat_kuasa.pic_file_name) && !loadingFotoSuratKuasa" class="img-upload">
                                            <!-- <img src={{order.additional_info.surat_kuasa.pic_file_name}} class="member-detail-image" /> -->
                                            <img *ngIf="checkFileType(order.additional_info.surat_kuasa.pic_file_name) == 'image'" src={{order.additional_info.surat_kuasa.pic_file_name}} class="member-detail-image" />
                                            <pdf-viewer 
                                                *ngIf="checkFileType(order.additional_info.surat_kuasa.pic_file_name) == 'document'"
                                                [src]="order.additional_info.surat_kuasa.pic_file_name"
                                                [render-text]="false"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>                                            
                                        </div>
    
                                        <div class="form-group uploaded" *ngIf="loadingFotoSuratKuasa">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                        </div>
    
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="openUpload('suratKuasa')">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="order.additional_info && order.additional_info.surat_kuasa && validURL(order.additional_info.surat_kuasa.pic_file_name); else upload_image">Ubah</span>
                                            </button>
                                        </div>
                                        <div *ngIf="order.additional_info && order.additional_info.surat_kuasa && validURL(order.additional_info.surat_kuasa.pic_file_name)" style="text-align: center;">
                                            <span>
                                                <b>Last updated : {{order.additional_info.surat_kuasa.created_date}}</b>
                                            </span>
                                        </div>                                            

                                    </div>
                                    
                            </div>
                        </div>
                        </div>

                        <!-- Receipt -->
                        <div class="card-content">
                            <div class="row">
                                <ng-container  *ngIf="order.additional_info && order.additional_info.receipt && order.additional_info.receipt.length > 0">
                                    <div class="col-md-6 col-sm-12" *ngFor="let receipt of order.additional_info.receipt; let i = index">
                                        <input type="file" (change)="onFileSelected($event, 'receipt', i)" accept="image/x-png,image/gif,image/jpeg,application/pdf" style="display:none;" [id]="'receipt'+i"/>             
                                        <label class="label-bold">Receipt</label>
                                            <div class="member-detail-image-container">
                                                <div *ngIf="!loadingReceipt[i]" class="img-upload">
                                                    <img *ngIf="checkFileType(receipt.pic_file_name) == 'image'" src={{receipt.pic_file_name}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(receipt.pic_file_name) == 'document'"
                                                        [src]="receipt.pic_file_name"
                                                        [render-text]="false"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>                                                    
                                                </div>

                                                <div class="form-group uploaded" *ngIf="loadingReceipt[i]">
                                                    <div class="loading">
                                                      <div class="sk-fading-circle">
                                                        <div class="sk-circle1 sk-circle"></div>
                                                        <div class="sk-circle2 sk-circle"></div>
                                                        <div class="sk-circle3 sk-circle"></div>
                                                        <div class="sk-circle4 sk-circle"></div>
                                                        <div class="sk-circle5 sk-circle"></div>
                                                        <div class="sk-circle6 sk-circle"></div>
                                                        <div class="sk-circle7 sk-circle"></div>
                                                        <div class="sk-circle8 sk-circle"></div>
                                                        <div class="sk-circle9 sk-circle"></div>
                                                        <div class="sk-circle10 sk-circle"></div>
                                                        <div class="sk-circle11 sk-circle"></div>
                                                        <div class="sk-circle12 sk-circle"></div>
                                                      </div>
                                                    </div>
                                                  </div>
            
                                                <div class="img-upload"*ngIf="receipt.receipt_id">
                                                    <button class="btn_upload" (click)="openUpload('receipt', i)">
                                                        <i class="fa fa-fw fa-upload"></i>
                                                        <span *ngIf="validURL(receipt.pic_file_name); else upload_image">Ubah</span>
                                                    </button>
                                                    <button  *ngIf="validURL(receipt.pic_file_name)" class="btn_delete" (click)="deleteReceipt('receipt', receipt.receipt_id, receipt.pic_file_name, idx)">
                                                        <i class="fa fa-fw fa-trash-alt"></i>
                                                        <span>Hapus</span>
                                                    </button>
                                                </div>
            
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Uploaded date : {{receipt.created_date}}</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="col-md-6 col-sm-12">
                                        <label class="label-bold"><i class="fa fa-fw fa-plus"></i>Foto Receipt/Bukti Pembayaran</label>             
                                        <div class="member-detail-image-container">
                                            <div class="form-group uploaded" *ngIf="loadingFotoReceipt">
                                                <div class="loading">
                                                  <div class="sk-fading-circle">
                                                    <div class="sk-circle1 sk-circle"></div>
                                                    <div class="sk-circle2 sk-circle"></div>
                                                    <div class="sk-circle3 sk-circle"></div>
                                                    <div class="sk-circle4 sk-circle"></div>
                                                    <div class="sk-circle5 sk-circle"></div>
                                                    <div class="sk-circle6 sk-circle"></div>
                                                    <div class="sk-circle7 sk-circle"></div>
                                                    <div class="sk-circle8 sk-circle"></div>
                                                    <div class="sk-circle9 sk-circle"></div>
                                                    <div class="sk-circle10 sk-circle"></div>
                                                    <div class="sk-circle11 sk-circle"></div>
                                                    <div class="sk-circle12 sk-circle"></div>
                                                  </div>
                                                </div>
                                            </div>
        
                                            <div class="img-upload">
                                                <button class="btn_upload" (click)="openUpload('receipt')">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span>Upload</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <!-- Others -->
                        <div class="card-content">
                            <div class="row">
                                <ng-container  *ngIf="order.additional_info && order.additional_info.others && order.additional_info.others.length > 0">
                                    <div class="col-md-6 col-sm-12" *ngFor="let other of order.additional_info.others; let i = index">
                                        <input type="file"  (change)="onFileSelected($event, 'others', i)" 
                accept="image/x-png,image/gif,image/jpeg,application/pdf" style="display:none;" [id]="'others'+i"/>             
                                        <label class="label-bold">Others</label>
                                            <div class="member-detail-image-container">
                                                <div *ngIf="!loadingOthers[i]" class="img-upload">
                                                    <img *ngIf="checkFileType(other.pic_file_name) == 'image'" src={{other.pic_file_name}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(other.pic_file_name) == 'document'"
                                                        [src]="other.pic_file_name"
                                                        [render-text]="false"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>                                                    
                                                </div>

                                                <div class="form-group uploaded" *ngIf="loadingOthers[i]">
                                                    <div class="loading">
                                                      <div class="sk-fading-circle">
                                                        <div class="sk-circle1 sk-circle"></div>
                                                        <div class="sk-circle2 sk-circle"></div>
                                                        <div class="sk-circle3 sk-circle"></div>
                                                        <div class="sk-circle4 sk-circle"></div>
                                                        <div class="sk-circle5 sk-circle"></div>
                                                        <div class="sk-circle6 sk-circle"></div>
                                                        <div class="sk-circle7 sk-circle"></div>
                                                        <div class="sk-circle8 sk-circle"></div>
                                                        <div class="sk-circle9 sk-circle"></div>
                                                        <div class="sk-circle10 sk-circle"></div>
                                                        <div class="sk-circle11 sk-circle"></div>
                                                        <div class="sk-circle12 sk-circle"></div>
                                                      </div>
                                                    </div>
                                                  </div>
            
                                                <div class="img-upload"*ngIf="other.id">
                                                    <button class="btn_upload" (click)="openUpload('others', i)">
                                                        <i class="fa fa-fw fa-upload"></i>
                                                        <span *ngIf="validURL(other.pic_file_name); else upload_image">Ubah</span>
                                                    </button>
                                                    <button  *ngIf="validURL(other.pic_file_name)" class="btn_delete" (click)="deleteImage('others', other.id, other.pic_file_name, idx)">
                                                        <i class="fa fa-fw fa-trash-alt"></i>
                                                        <span>Hapus</span>
                                                    </button>
                                                </div>
            
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Uploaded date : {{other.created_date}}</b>
                                                    </span>
                                                </div>
                       
                                            </div>
                                        
                                        </div>
                                </ng-container>
                                

                                    <div class="col-md-6 col-sm-12">
                                        <label class="label-bold"><i class="fa fa-fw fa-plus"></i>Tambah foto lain</label>             
                                        <div class="member-detail-image-container">
                                            <div class="form-group uploaded" *ngIf="loadingFotoOthers">
                                                <div class="loading">
                                                  <div class="sk-fading-circle">
                                                    <div class="sk-circle1 sk-circle"></div>
                                                    <div class="sk-circle2 sk-circle"></div>
                                                    <div class="sk-circle3 sk-circle"></div>
                                                    <div class="sk-circle4 sk-circle"></div>
                                                    <div class="sk-circle5 sk-circle"></div>
                                                    <div class="sk-circle6 sk-circle"></div>
                                                    <div class="sk-circle7 sk-circle"></div>
                                                    <div class="sk-circle8 sk-circle"></div>
                                                    <div class="sk-circle9 sk-circle"></div>
                                                    <div class="sk-circle10 sk-circle"></div>
                                                    <div class="sk-circle11 sk-circle"></div>
                                                    <div class="sk-circle12 sk-circle"></div>
                                                  </div>
                                                </div>
                                            </div>
        
                                            <div class="img-upload">
                                                <button class="btn_upload" (click)="openUpload('others')">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span>Upload</span>
                                                </button>
                                            </div>
                   
                                        </div>
                                    
                                    </div>

                                </div>
                        </div>

                        </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card mb-3">
                                <div class="card-header"><h2>Data Pemilik dan Toko</h2></div>
                                <div class="card-content">
                                    <div class="col-md-12">             
                                        <label>ID Pelanggan</label>
                                        <div name="member_id">{{memberDetail.username}}</div>
        
                                        <label>Data Complete</label>
                                        <div name="member_id">{{memberDetail.additional_info && memberDetail.additional_info.data_complete ? memberDetail.additional_info.data_complete : '-'}}</div>
                                        
                                        <label>Nama Toko</label>
                                        <div name="full_name">{{memberDetail.input_form_data.nama_toko}}</div>
                                        
                                        <label>Nama Distributor</label>
                                        <div name="full_name">{{memberDetail.input_form_data.nama_distributor}}</div>
        
                                        <label>Alamat Toko</label>
                                        <div name="full_name">{{memberDetail.input_form_data.alamat_toko}}</div>
        
                                        <label>Nama Pemilik</label>
                                        <div name="full_name">{{memberDetail.input_form_data.nama_pemilik}}</div>
        
                                        <label>No. WA Pemilik</label>
                                        <div name="full_name">{{memberDetail.input_form_data.no_wa_pemilik}}</div>
                                        
                                        <label>No. KTP Pemilik</label>
                                        <div name="full_name">{{memberDetail.input_form_data.ktp_pemilik}}</div>
        
                                        <label>Foto KTP Pemilik</label>
                                        <div class="member-detail-image-container">
                                            <ng-container  *ngIf="validURL(memberDetail.input_form_data.foto_ktp_pemilik); else empty_image">
                                                <a href={{memberDetail.input_form_data.foto_ktp_pemilik}} target="_blank">
                                                    <img *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_pemilik) == 'image'" src={{memberDetail.input_form_data.foto_ktp_pemilik}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_pemilik) == 'document'"
                                                        [src]="memberDetail.input_form_data.foto_ktp_pemilik"
                                                        [render-text]="false"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(memberDetail.input_form_data.foto_ktp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                            </ng-container>
                                            
                                            
                                        </div>
        
                                        <label>No. NPWP Pemilik</label>
                                        <div name="full_name">{{memberDetail.input_form_data.npwp_pemilik}}</div>
        
                                        <label>Foto NPWP Pemilik</label>
                                        <div class="member-detail-image-container">
                                            <ng-container  *ngIf="validURL(memberDetail.input_form_data.foto_npwp_pemilik); else empty_image">
                                                <a href={{memberDetail.input_form_data.foto_npwp_pemilik}} target="_blank">
                                                    <img *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_pemilik) == 'image'" src={{memberDetail.input_form_data.foto_npwp_pemilik}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_pemilik) == 'document'"
                                                        [src]="memberDetail.input_form_data.foto_npwp_pemilik"
                                                        [render-text]="false"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(memberDetail.input_form_data.foto_npwp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                            </ng-container>
                                        </div>
        
                                    </div>
                                
                                </div>
                            </div>
    
                            <div class="card mb-3">
                                <div class="card-header"><h2>Data Penerima </h2></div>
                                <div class="card-content">
                                    <div class="col-md-12">
        
                                        <label>Hadiah Dikuasakan</label>
                                        <div name="email">{{memberDetail.input_form_data.hadiah_dikuasakan}}</div>
                                    
                                        <label>Nama Penerima</label>
                                        <div name="email">{{memberDetail.input_form_data.nama_penerima_gopay}}</div>
        
                                        <label>No. WA Penerima</label>
                                        <div name="email">{{memberDetail.input_form_data.no_wa_penerima}}</div>
        
                                        <label>No. Gopay Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo Gopay, isi dengan No. Gopay Penerima)</div></label>
                                        <div name="email">{{memberDetail.input_form_data.telp_penerima_gopay}}</div>
        
                                       <label>Alamat Pengiriman</label>
                                       <div name="email">{{memberDetail.input_form_data.alamat_rumah}}</div>
        
                                       <label>No. KTP Penerima</label>
                                       <div name="email">{{memberDetail.input_form_data.ktp_penerima}}</div>
        
                                       <label>Foto KTP Penerima</label>
                                        <div class="member-detail-image-container">
                                            <ng-container *ngIf="validURL(memberDetail.input_form_data.foto_ktp_penerima); else empty_image">
                                                <a href={{memberDetail.input_form_data.foto_ktp_penerima}} target="_blank" >
                                                    <img *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_penerima) == 'image'" src={{memberDetail.input_form_data.foto_ktp_penerima}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_penerima) == 'document'"
                                                        [src]="memberDetail.input_form_data.foto_ktp_penerima"
                                                        [render-text]="false"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(memberDetail.input_form_data.foto_ktp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                            </ng-container>
                                        </div>
        
                                       <label>No. NPWP Penerima</label>
                                       <div name="email">{{memberDetail.input_form_data.npwp_penerima}}</div>
        
                                       <label>Foto NPWP Penerima</label>
                                       <div class="member-detail-image-container">
                                           <ng-container *ngIf="validURL(memberDetail.input_form_data.foto_npwp_penerima); else empty_image">
                                               <a href={{memberDetail.input_form_data.foto_npwp_penerima}} target="_blank">
                                                <img *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_penerima) == 'image'" src={{memberDetail.input_form_data.foto_npwp_penerima}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_penerima) == 'document'"
                                                    [src]="memberDetail.input_form_data.foto_npwp_penerima"
                                                    [render-text]="false"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                               </a>
                                               <div class="btn-download-container">
                                                   <button (click)="downloadImage(memberDetail.input_form_data.foto_npwp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                               </div>
                                           </ng-container>
                                        </div>
                                    </div>
                                 </div>
                            </div> 
                        </div> 
                    </div>             
                </div>
         </div>
    </div>
    <ng-template #upload_image>
        <span>
            upload
        </span>
    </ng-template>
</div>