<div *ngIf="evoucherStockDetail" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToHere()"><i class="fa fa-fw fa-angle-left"></i> back</button>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Stock Detail</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>Process Number</label>
                                <div name="member_id">{{evoucherStockDetail.process_number}}</div>

                                <label>Process Type</label>
                                <div name="member_id">{{evoucherStockDetail.process_type}}</div>

                                <label>Total Quantity</label>
                                <div name="member_id">{{evoucherStockDetail.total_qty}}</div>

                                <label>Total SKU</label>
                                <div name="member_id">{{evoucherStockDetail.total_sku}}</div>

                                <label>SKU List</label>
                                <div name="member_id" *ngFor="let skuList of evoucherStockDetail.sku_list">
                                    <li>{{skuList.sku_code}}, qty: {{skuList.qty}}</li>
                                </div>

                                <label>Total Value</label>
                                <div name="member_id">{{evoucherStockDetail.total_value}}</div>

                                <label>Total Price</label>
                                <div name="member_id">{{evoucherStockDetail.total_price}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Approval Status</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>Status</label>
                                <div name="member_id">{{evoucherStockDetail.status}}</div>
                                
                                <div class="need-approval-text" *ngIf="evoucherStockDetail.status == 'REQUESTED' && !processNow">
                                    <span>This request needs approval</span>
                                </div>

                                <div class="need-approval-text" *ngIf="evoucherStockDetail.status == 'REQUESTED' && processNow">
                                    <span>Are you sure to process this request?</span>
                                </div>

                                <div class="btn-action-stock" *ngIf="evoucherStockDetail.status == 'REQUESTED' && !processNow">
                                    <button class="btn btn-approve" (click)="isProcessNow()">Approve</button>
                                    <!-- <button class="btn btn-decline">Decline</button> -->
                                </div>

                                <div class="btn-action-stock" *ngIf="evoucherStockDetail.status == 'REQUESTED' && processNow">
                                    <button class="btn btn-approve" (click)="processEvoucher(evoucherStockDetail.process_number)">Process Now</button>
                                    <button class="btn btn-decline" (click)="isProcessNow()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
         </div>
    </div>
    
</div>
