<div >
    <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="PointMovementOrder && !errorMessage">
          <app-form-builder-table
          [searchCallback]= "[service, 'searchPointMovementBasedOnOrder',this]"
          [tableFormat]="tableFormat"
          [table_data]="PointMovementOrder"
          [total_page]="totalPage"
        >
  
          </app-form-builder-table>
    </div>
        <!-- <div *ngIf="SalesRedemptionDetail"> -->
              <!-- <app-bast [back]="[this,backToHere]" [detail]="SalesRedemptionDetail"></app-bast> -->
        <!-- </div> -->
  
    </div>
  