<h1 id="header"><strong>Shipping Label</strong></h1>
<div class="btn-print">
    <button mat-raised-button color="primary" class="btn btn-primary" (click)="prints()">Print Label<i
            class="fa fa-print" aria-hidden="true"></i></button>
</div>
<div class="notif error-message">{{errorMessage}}</div>
<div class="loading" *ngIf='loading'>
    <div class="sk-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </div>
<div class="page-break" *ngIf="!loading">
    <div class="_container" *ngFor="let data of totalResult; let i = index">
        <div class="content">
            <div class="table-order">
                <table class="header" align="center">
                    <tr>
                        <td class="locard-logo">
                            <img src="assets/images/logo.png" class="logo-avatar" /><br>
                            
                        </td>
                        <td class="awb">
                            <p>AWB</p>
                            <ngx-barcode [bc-value]="data.courier.awb_number" [bc-display-value]="false" [bc-width]="1.5"
                                [bc-height]="70" [bc-font-size]="10">
                            </ngx-barcode>
                            <label style="font-size:14px;">No.Resi : <strong>{{data.courier.awb_number}}</strong></label>
                        </td>
                        <!-- <td *ngIf="same" class="locard-logo">
                            <img src="{{courier_image}}" class="logo-avatar" />
                        </td>
                        <td *ngIf="!same" class="locard-logo">
                            <span style="font-size: 20px;">{{data.courier.courier}}</span>
                        </td> -->
                        <td class="locard-logo">
                            <img *ngIf="courier_image_array[i].same == true" src="{{courier_image_array[i].image}}" class="logo-avatar" />
                            <span *ngIf="courier_image_array[i].same == false" style="font-size: 20px;">{{courier_image_array[i].courier}}</span>
                        </td>
                    </tr>
                </table>
                <table align="center" class="detail-header">
                    <div class="row">
                        <div class=" detail-person">
                            <div id="order">
                            <strong>No id : {{data.booking_id}} </strong> <br />
                            </div>
                            <div class="row sender">
                                <div style="padding: 0;width: 50%;">
                                    <p><strong>Pengirim: </strong><br>
                                        {{merchant_data.merchant_name}}<br>
                                        {{merchant_data.maddress}} <br>
                                        {{merchant_data.cell_phone}}<br>
                                    </p>
                                </div>
                                <div style="padding: 0;width: 50%;">
                                    <p><strong>Penerima : </strong><br>
                                        {{data.buyer_detail.name}}<br>
                                        {{data.buyer_detail.address}}<br>
                                        {{data.buyer_detail.cell_phone}}<br>
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="receiver"></div> -->
                            <!-- <div class="send">
                            <label id="non">NON-COD</label> <br />
                            <label id="shipping">{{data.shipping.service}}</label>
                            </div> -->
                        </div>
                        <div class=" detail-order">
                            <p>
                                <strong>Tanggal: </strong>
                                {{data.created_date}}<br><br>
                                <strong>Kota Asal: </strong>
                                {{memberCity}}<br><br>
                                <!-- <strong class="tlc" *ngIf="data.courier.courier == 'SAP'">TLC: </strong><span class="tlc" *ngIf="data.courier.courier == 'SAP' && data.tlc_branch_origin">{{data.tlc_branch_origin}}<br><br></span> -->
                                <strong>Kota Tujuan: </strong><br>
                                {{data.buyer_detail.city_name}}<br><br>
                                <strong class="tlc" *ngIf="data.courier.courier == 'SAP'">TLC: </strong><span class="tlc" *ngIf="data.courier.courier == 'SAP' && data.tlc_branch_dest">{{data.tlc_branch_dest}}<br><br></span>
                                <strong>Jumlah: </strong>
                                {{data.total_item}}<br><br>
                                <strong>Berat Total: </strong>
                                <span>{{totalWeight[i]}} Kg</span> <br>
                                <br/>
                                <strong>Asuransi : - </strong>
                                <br/> <br/>
                                <strong>Service : </strong>
                                {{data.delivery.delivery_detail.service}}
                                
                            </p>
                        </div>
                    </div>
                </table>
                <table align="center" class="detail-barang-pengiriman">
                    <div class="row row-eq-height">
                        <div class="detail-barang">
                            <div class="row">
                                <div class="col-md-8 daftar-barang">
                                    <strong>Daftar Barang : </strong> <br>
                                    <span class="data-products"
                                        *ngFor="let b of data.products">{{b.product_name}}({{b.quantity}}),
                                    </span><br>
                                </div>
                                <!-- <div class="col-md-6 catatan">
                                    <label>Terima Kasih sudah berbelanja di locard!</label>
                                </div> -->
                            </div>
                        </div>
                        <div class="detail-pengiriman">
                            <div class="row" style="margin-right: 0px;">
                                <div class="col-md-12 jenis-pengiriman">
                                    <strong>Catatan: </strong><br>
                                    <span  *ngFor="let b of data.products;let i = index">
                                        {{i+1}}. {{b.note_to_merchant}}
                                    </span>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
            <p class="page-number">
                Page {{i+1}} of {{totalResult.length}}
            </p>
        </div>
    </div>
</div>