<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.id}}</h1>
        <h1>{{detail.outlet_name}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="moutlet-detail">

            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Outlets Details </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Organization ID</label>
                                <div name="org_id">{{detail.org_id}}</div>

                                <label>Outlet Name</label>
                                <div name="outlet_name">{{detail.outlet_name}}</div>

                                <label>Outlet Code</label>
                                <div name="outlet_code">{{detail.outlet_code}}</div>

                                <label>Outlet Type</label>
                                <div name="outlet_type">{{detail.outlet_type}}</div>

                                <label>Outlet ID</label>
                                <div name="id">{{detail.id}}</div>

                                <label>Address 1</label>
                                <div name="address1">{{detail.address1}}</div>

                                <label>Address 2</label>
                                <div name="address2">{{detail.address2}}</div>

                                <label>Address 3</label>
                                <div name="address3">{{detail.address3}}</div>

                                <label>City</label>
                                <div name="city">{{detail.city}}</div>

                                <label>Postal Code</label>
                                <div name="postal_code">{{detail.postal_code}}</div>

                                <label>State</label>
                                <div name="state">{{detail.state}}</div>

                                <label>Country</label>
                                <div name="country">{{detail.country}}</div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Member &amp; Status Member</h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>Email</label>
                                <div name="email">{{detail.email}}</div>

                                <label>Contact Person</label>
                                <div name="contact_person">{{detail.contact_person}}</div>

                                <label>Work Phone</label>
                                <div name="work_phone">{{detail.work_phone}}</div>

                                <label>Cell Phone</label>
                                <div name="cell_phone">{{detail.cell_phone}}</div>

                                <label>Status</label>
                                <div name="status">{{detail.status}}</div>

                                <label>URL</label>
                                <div name="base_url">{{detail.base_url}}</div>

                                <label>Terminal ID</label>
                                <div name="terminal_id">{{detail.terminal_id}}</div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger"
                        (click)="deleteThis()">delete this</button></div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="edit">
    <app-moutlet-edit [back]="[this, 'editThis']" [detail]="detail"></app-moutlet-edit>
</div>