@media print {
  @page {
    size: landscape;
    // margin: 5mm 5mm 5mm 5mm;
  }

  h5 {
    display: none;
  }

  app-page-header {
    display: none;
  }

  button {
    display: none;
  }

  * {
    font-size: 8px;
    // text-transform: capitalize;
  }

  // .table-order {
  //   width: 20%;
  // }

  // table{
  //   margin-top: 0px !important;
  //   table-layout: auto;
  //   width: 60%;
  //   // width: 55rem;
  // }
  // ._container{
  //   margin: 0;
  //   padding: 0;
  // }
  .detail-barang-pengiriman {
    page-break-after: always;
  }

  // #thanks {
  //   font-size:5px;
  // }
}

body {
  background-color: #333;
  font-family: "Poppins";
  color: #333;
  text-align: left;
  font-size: 11px;
  margin: 0;
}
.mat-raised-button.mat-primary {
  background-color: #2481fb;
  float: right;
  padding: 5px 20px;
  font-family: "Poppins";
  margin: 10px 40px;
  border-radius: 5px;

  .fa {
    margin-left: 8px;
  }
}

.header-shipping {
  margin: 20px 20px 0px;
  display: flex;
  flex-direction: row;

  .custom-title {
    color: white;
    padding-top: 1%;
  }

  button {
    margin-left: 75%;
  }
}

._container {
  background-color: #fff;
  margin: 0px;
  margin-top: 2vw;
  border-radius: 5px;
  text-align: -webkit-center;

  .content {
    // * {
    //   // text-transform: capitalize;
    // }
    .layanan {
      text-align: center;
      margin-bottom: 30px;
    }

    .page-number {
      text-align: center;
      padding-bottom: 25px;
      font-size: 18px;
    }

    .table-order {
      margin-top: 50px;
      padding-bottom: 60px;
      width: 80%;
      font-size: 11px;

      .header {
        table-layout: auto;
        border-bottom: 0;
        width: 100%;
      }

      .detail-barang-pengiriman {
        text-align: left;
        width: 100%;

        .row-eq-height {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        }

        .row {
          margin-left: 0px;
          height: 100%;
        }

        .detail-barang {
          border-right: solid black 1px;

          .daftar-barang {
            padding-left: 0px;
            border-right: solid black 1px;
            padding-top: 15px;
            padding-bottom: 20px;
          }

          .catatan {
            padding-top: 15px;
            padding-bottom: 20px;
          }
        }

        .detail-pengiriman {
          .jenis-pengiriman {
            padding-top: 15px;
            padding-bottom: 14px;
            padding-left: 0px;
            font-weight: bold;
            text-align: center;
            // text-transform: uppercase;
            border-right: solid black 1px;
          }

          .total-harga {
            padding-top: 15px;
            padding-bottom: 30px;
            text-align: center;
            font-weight: bold;
            padding-left: 0px;
          }
        }
      }

      .detail-header {
        width: 100%;
        text-align: left;
        border-top: 0;
        border-bottom: 0;

        .detail-person {
          border-right: solid black 1px;
          padding: 20px;

          .receiver {
            border-bottom: black solid 1px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            margin-top: 15px;
          }

          // .sender {
          //   // padding-top: 10px;
          // }
        }

        .detail-order {
          padding: 20px;
        }

        .row {
          margin-left: 0px;
        }
      }

      .locard-logo {
        text-align: center;
        .logo-row {
          margin: 5px auto;
          .logo-avatar {
            -webkit-border-radius: 50%;
            border-radius: 0%;
            width: 60px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .courier-logo {
        text-align: center;
      }

      #courier-logo {
        text-align: center;

        .logo-avatar {
          width: 120px;
        }
      }

      .awb {
        text-align: center;
      }

      .order-id {
        text-align: center;
        p {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
table {
  border: 2px solid #333;
  border-collapse: collapse;
}
td,
tr,
th {
  padding: 12px;
  border: 1px solid #333;
  width: 0;
}
th {
  background-color: #f0f0f0;
}
h4,
p {
  margin: 0px;
}

#garis {
  height: 200px;
  color: black;
}

#thanks {
  font-size: 12px;
  text-align: center;
  color: #0ea8db;
  font-weight: bold;
}
